{
  "openapi": "3.0.3",
  "info": {
    "title": "Payrexx REST API",
    "version": "1.16",
    "description": "Assembled by scripts/build_spec.py from the per-endpoint OpenAPI fragments published on developers.payrexx.com. Not an official Payrexx artefact."
  },
  "servers": [
    {
      "url": "https://api.payrexx.com/v1.16",
      "description": "Payrexx REST API"
    }
  ],
  "tags": [
    {
      "name": "Bill"
    },
    {
      "name": "Ecr"
    },
    {
      "name": "Gateway"
    },
    {
      "name": "Invoice"
    },
    {
      "name": "PaymentProvider"
    },
    {
      "name": "Payout"
    },
    {
      "name": "Subscription"
    },
    {
      "name": "Transaction"
    }
  ],
  "paths": {
    "/Bill/": {
      "get": {
        "summary": "List all Invoices",
        "description": "",
        "operationId": "BillList",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": [\n    {\n      \"status\": \"draft\",\n      \"payment_status\": \"unpaid\",\n      \"id\": \"md021nl8\",\n      \"date\": \"2019-04-01\",\n      \"number\": 1,\n      \"total\": 2700,\n      \"language\": \"de\",\n      \"currency\": \"CHF\",\n      \"due_after_days\": 0,\n      \"recipient\": {\n        \"company\": \"My company\",\n        \"first_name\": \"John\",\n        \"last_name\": \"Doe\",\n        \"address\": \"Main Street 100\",\n        \"zip\": \"1000\",\n        \"city\": \"Wien\",\n        \"country\": \"AT\",\n        \"email\": \"john.doe@example.com\"\n      },\n      \"service_period\": {\n        \"from\": \"2019-03-01\",\n        \"to\": \"2019-03-10\"\n      },\n      \"discount\": {\n        \"amount\": 0,\n        \"type\": \"percent\"\n      },\n      \"cash_discounts\": [\n        {\n          \"days\": 10,\n          \"percent\": 2\n        }\n      ],\n      \"shipping_cost\": 700,\n      \"application_fee\": 1000,\n      \"note\": \"\",\n      \"terms\": \"\",\n      \"transactions\": [],\n      \"positions\": [\n        {\n          \"id\": \"91m3n01a\",\n          \"title\": \"\",\n          \"description\": \"\",\n          \"type\": \"piece\",\n          \"number\": 2,\n          \"price\": 1000,\n          \"discount\": {\n            \"amount\": 0,\n            \"type\": \"percent\"\n          },\n          \"vat\": 0\n        }\n      ],\n      \"payment_link\": \"\",\n      \"attachments\": [],\n      \"bank_information\": {\n        \"iban\": \"\",\n        \"name\": \"\",\n        \"address\": \"\"\n      },\n      \"payout_descriptor\": \"\",\n      \"psp\": [],\n      \"pm\": [],\n      \"mails\": [],\n      \"reference\": \"myref_0001\",\n      \"design\": \"85af2122\",\n      \"reminders\": [\n        {\n          \"id\": \"25dec6ed\",\n          \"days\": 20,\n          \"friendly\": true,\n          \"fee\": 0,\n          \"delay_type\": \"days_after_invoice_date\",\n          \"status\": \"sent\",\n          \"reminder_date\": \"2021-03-17T00:00:00+00:00\"\n        },\n        {\n          \"id\": \"e37eb554\",\n          \"days\": 5,\n          \"friendly\": true,\n          \"fee\": 0,\n          \"delay_type\": \"days_before_due_date\",\n          \"status\": \"active\",\n          \"reminder_date\": \"2021-03-22T00:00:00+00:00\"\n        },\n        {\n          \"id\": \"c17ae3db\",\n          \"days\": 20,\n          \"friendly\": false,\n          \"fee\": 1000,\n          \"delay_type\": \"days_after_due_date\",\n          \"status\": \"active\",\n          \"reminder_date\": \"2021-04-16T00:00:00+00:00\"\n        }\n      ],\n      \"purchaseOnInvoiceInformation\": {\n        \"company\": \"Payrexx AG\",\n        \"address\": \"Burgstrasse 18\",\n        \"zip\": \"3600\",\n        \"place\": \"Thun\",\n        \"bankName\": \"Klarpay AG\",\n        \"swift\": \"KLARCH22XXX\",\n        \"iban\": \"CH083000522710975202X\",\n        \"reference\": \"287133000000000000000001950\"\n      }\n    }\n  ],\n  \"meta\": {\n    \"object\": \"merchant_invoice\",\n    \"parent\": {\n      \"object\": \"merchant\",\n      \"id\": \"cedad42m\"\n    },\n    \"is_list\": false,\n    \"isList\": true,\n    \"hasMore\": true,\n    \"lastElement\": \"37f386cb\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "object": {
                          "type": "string",
                          "example": "merchant_invoice"
                        },
                        "parent": {
                          "type": "object",
                          "properties": {
                            "object": {
                              "type": "string",
                              "example": "merchant"
                            },
                            "id": {
                              "type": "string",
                              "example": "cedad42m"
                            }
                          }
                        },
                        "isList": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "hasMore": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "lastElement": {
                          "type": "string",
                          "example": "37f386cb"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Bad Request": {
                    "summary": "Bad Request",
                    "value": {
                      "status": "error",
                      "message": "An error message that specifies the exact error"
                    }
                  }
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Bill"
        ]
      },
      "post": {
        "summary": "Create an Invoice",
        "description": "",
        "operationId": "BillCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "language",
                  "currency",
                  "dueAfterDays",
                  "recipient",
                  "positions"
                ],
                "properties": {
                  "date": {
                    "type": "string",
                    "default": "TODAY",
                    "format": "date"
                  },
                  "language": {
                    "type": "string",
                    "description": "The language ISO code by ISO 639-1."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code (ISO 4217)"
                  },
                  "dueAfterDays": {
                    "type": "integer",
                    "format": "int32",
                    "enum": [
                      5,
                      10,
                      20,
                      30,
                      40,
                      50,
                      60
                    ]
                  },
                  "recipient": {
                    "type": "object",
                    "required": [
                      "email"
                    ],
                    "properties": {
                      "company": {
                        "type": "string",
                        "description": "**Required:** at least one of `company`, `firstName`, or `lastName` must be **provided**"
                      },
                      "firstName": {
                        "type": "string",
                        "description": "**Required:** at least one of `company`, `firstName`, or `lastName` must be **provided**"
                      },
                      "lastName": {
                        "type": "string",
                        "description": "**Required:** at least one of `company`, `firstName`, or `lastName` must be **provided**"
                      },
                      "address": {
                        "type": "string"
                      },
                      "zip": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string",
                        "description": "Country code (ISO 3166-1 alpha-2)"
                      },
                      "email": {
                        "type": "string"
                      }
                    }
                  },
                  "servicePeriod": {
                    "type": "object",
                    "required": [
                      "from"
                    ],
                    "properties": {
                      "from": {
                        "type": "string",
                        "format": "date"
                      },
                      "to": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  },
                  "discount": {
                    "type": "object",
                    "required": [
                      "amount",
                      "type"
                    ],
                    "properties": {
                      "amount": {
                        "type": "integer",
                        "description": "If the type is \"amount\", this amount here needs to be in the smallest unit of the currency.",
                        "format": "int32"
                      },
                      "type": {
                        "type": "string",
                        "description": "either \"percent\" or \"amount\""
                      }
                    }
                  },
                  "cashDiscounts": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "days": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "percent": {
                          "type": "number",
                          "format": "double"
                        }
                      },
                      "required": [
                        "days",
                        "percent"
                      ],
                      "type": "object"
                    }
                  },
                  "shippingCost": {
                    "type": "integer",
                    "description": "Amount in the smallest unit of the currency.",
                    "format": "int32"
                  },
                  "applicationFee": {
                    "type": "integer",
                    "description": "Amount in the smallest unit of the currency.",
                    "format": "int32"
                  },
                  "note": {
                    "type": "string"
                  },
                  "terms": {
                    "type": "string"
                  },
                  "positions": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "description": "Types supported: \"piece\", \"hour\", \"day\", \"flat\"."
                        },
                        "number": {
                          "type": "number",
                          "format": "double"
                        },
                        "price": {
                          "type": "integer",
                          "description": "Amount in the smallest unit of the currency.",
                          "format": "int32"
                        },
                        "discount": {
                          "type": "object",
                          "required": [
                            "amount",
                            "type"
                          ],
                          "properties": {
                            "amount": {
                              "type": "integer",
                              "description": "If the type is \"amount\", this amount here needs to be in the smallest unit of the currency.",
                              "format": "int32"
                            },
                            "type": {
                              "type": "string",
                              "description": "either \"percent\" or \"amount\""
                            }
                          }
                        },
                        "vat": {
                          "type": "number",
                          "description": "Vat in percent.",
                          "format": "double"
                        }
                      },
                      "required": [
                        "title",
                        "type",
                        "price"
                      ],
                      "type": "object"
                    }
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "data": {
                          "type": "string",
                          "format": "binary"
                        }
                      },
                      "required": [
                        "name",
                        "data"
                      ],
                      "type": "object"
                    }
                  },
                  "bankInformation": {
                    "type": "object",
                    "required": [
                      "iban",
                      "name",
                      "address"
                    ],
                    "properties": {
                      "iban": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "address": {
                        "type": "string"
                      }
                    }
                  },
                  "payoutDescriptor": {
                    "type": "string",
                    "description": "This payout descriptor is added to the payout statement (Only for Payrexx Swiss Collecting payments and single transaction payouts). Max. 80 chars."
                  },
                  "psp": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "pm": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "reminders": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "days": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "fee": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "friendly": {
                          "type": "boolean"
                        },
                        "delayType": {
                          "type": "string",
                          "description": "Possible values are: daysAfterInvoiceDate, daysBeforeDueDate, daysAfterDueDate",
                          "default": "daysAfterInvoiceDate"
                        }
                      },
                      "required": [
                        "days",
                        "fee",
                        "friendly"
                      ],
                      "type": "object"
                    }
                  },
                  "reference": {
                    "type": "string"
                  },
                  "design": {
                    "type": "string"
                  },
                  "send": {
                    "type": "boolean",
                    "description": "Whether to send the invoice.",
                    "default": false
                  },
                  "additionalRecipients": {
                    "type": "array",
                    "description": "Send invoice to additional recipients. Pass email addresses as Strings.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "complete": {
                    "type": "boolean",
                    "description": "Whether to complete the invoice.",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": {\n    \"status\": \"draft\",\n    \"paymentStatus\": \"unpaid\",\n    \"id\": \"c160646c\",\n    \"date\": \"2025-01-10\",\n    \"number\": 72,\n    \"total\": 100,\n    \"language\": \"de\",\n    \"currency\": \"CHF\",\n    \"dueAfterDays\": 10,\n    \"recipient\": {\n      \"company\": \"Bachziegel AG\",\n      \"firstName\": \"Max\",\n      \"lastName\": \"Muster\",\n      \"address\": \"Allmednstrasse\",\n      \"zip\": \"3608\",\n      \"city\": \"Thun\",\n      \"country\": \"\",\n      \"email\": \"max.muster@gmail.com\"\n    },\n    \"servicePeriod\": {\n      \"from\": \"\",\n      \"to\": \"\"\n    },\n    \"discount\": {\n      \"amount\": 0,\n      \"type\": \"\"\n    },\n    \"cashDiscounts\": [],\n    \"shippingCost\": 0,\n    \"applicationFee\": 0,\n    \"note\": \"\",\n    \"terms\": \"\",\n    \"transactions\": [],\n    \"positions\": [\n      {\n        \"title\": \"Test\",\n        \"description\": \"\",\n        \"type\": \"piece\",\n        \"number\": 1,\n        \"price\": 100,\n        \"discount\": {\n          \"amount\": 0,\n          \"type\": \"\"\n        },\n        \"vat\": 0\n      }\n    ],\n    \"paymentLink\": \"https://payrexx.link.loc/fb78fa\",\n    \"attachments\": [],\n    \"bankInformation\": {\n      \"iban\": \"\",\n      \"name\": \"\",\n      \"address\": \"\"\n    },\n    \"payoutDescriptor\": null,\n    \"psp\": [],\n    \"pm\": [],\n    \"mails\": [],\n    \"reference\": \"\",\n    \"design\": \"4fc76aae\",\n    \"reminders\": [],\n    \"purchaseOnInvoiceInformation\": {\n      \"company\": \"Payrexx AG\",\n      \"address\": \"Burgstrasse 18\",\n      \"zip\": \"3600\",\n      \"place\": \"Thun\",\n      \"bankName\": \"Klarpay AG\",\n      \"swift\": \"KLARCH22XXX\",\n      \"iban\": \"CH083000522710975202X\",\n      \"reference\": \"287133000000000000000001950\"\n    }\n  },\n  \"meta\": {\n    \"object\": \"merchant_invoice\",\n    \"parent\": {\n      \"object\": \"merchant\",\n      \"id\": \"02ba42b2\"\n    },\n    \"isList\": false\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Invoice"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "object": {
                          "type": "string",
                          "example": "merchant_invoice"
                        },
                        "parent": {
                          "type": "object",
                          "properties": {
                            "object": {
                              "type": "string",
                              "example": "merchant"
                            },
                            "id": {
                              "type": "string",
                              "example": "02ba42b2"
                            }
                          }
                        },
                        "isList": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid Value": {
                    "value": "{\n  \"error\": {\n    \"type\": \"invalid_value\",\n    \"param\": \"currency\",\n    \"message\": \"Invalid value passed for parameter 'currency'\"\n  }\n}"
                  },
                  "Missing Required Parameter": {
                    "value": "{\n  \"error\": {\n    \"type\": \"missing_required_parameter\",\n    \"param\": \"currency\",\n    \"message\": \"Required parameter 'currency' was omitted\"\n  }\n}"
                  },
                  "Invalid File Type": {
                    "value": "{\n  \"error\": {\n    \"type\": \"invalid_file_type\",\n    \"message\": \"File type 'image/svg+xml' not allowed.\",\n    \"param\": \"attachments.[]\"\n  }\n}"
                  },
                  "Value Regex Mismatch": {
                    "value": "{\n  \"error\": {\n    \"type\": \"value_regex_mismatch\",\n    \"message\": \"The value does not match regex '^data:([^;]+);base64,(.*)$'.\",\n    \"param\": \"attachments.[]\"\n  }\n}"
                  },
                  "Expected Single File or Data URI": {
                    "value": "{\n    \"error\": {\n        \"type\": \"expected_single_file_upload\",\n        \"message\": \"Only a single file or data URI is expected. The File or data URI should not be nested in an array.\"\n    }\n}"
                  },
                  "Max Length Exceeded": {
                    "value": "{\n    \"error\": {\n        \"type\": \"max_length_exceeded\",\n        \"message\": \"Passed value for payout_descriptor exceeded max length\",\n        \"param\": \"payout_descriptor\"\n    }\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Bill"
        ]
      }
    },
    "/Bill/{id}/": {
      "delete": {
        "summary": "Delete an Invoice",
        "description": "",
        "operationId": "BillDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of invoice to retrieve.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": {\n    \"deleted\": true,\n    \"uuid\": \"6d2f440b\"\n  },\n  \"meta\": {\n    \"object\": \"merchant_invoice\",\n    \"parent\": {\n      \"object\": \"merchant\",\n      \"id\": \"02ba42b2\"\n    },\n    \"isList\": false\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "$ref": "#/components/schemas/InvoiceDeletion"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "object": {
                          "type": "string",
                          "example": "merchant_invoice"
                        },
                        "parent": {
                          "type": "object",
                          "properties": {
                            "object": {
                              "type": "string",
                              "example": "merchant"
                            },
                            "id": {
                              "type": "string",
                              "example": "02ba42b2"
                            }
                          }
                        },
                        "isList": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Bad Request": {
                    "summary": "Bad Request",
                    "value": {
                      "status": "error",
                      "message": "An error message that specifies the exact error"
                    }
                  }
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "405",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": {\n    \"type\": \"merchant_invoice_locked\",\n    \"message\": \"This invoice is currently immutable. Find the allowed methods in the 'Allow'-Header.\"\n  }\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Bill"
        ]
      },
      "get": {
        "summary": "Retrieve an Invoice",
        "description": "",
        "operationId": "BillRetrieve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of invoice to retrieve.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": [\n    {\n      \"status\": \"draft\",\n      \"payment_status\": \"unpaid\",\n      \"id\": \"md021nl8\",\n      \"date\": \"2019-04-01\",\n      \"number\": 1,\n      \"total\": 2700,\n      \"language\": \"de\",\n      \"currency\": \"CHF\",\n      \"due_after_days\": 0,\n      \"recipient\": {\n        \"company\": \"My company\",\n        \"first_name\": \"John\",\n        \"last_name\": \"Doe\",\n        \"address\": \"Main Street 100\",\n        \"zip\": \"1000\",\n        \"city\": \"Wien\",\n        \"country\": \"AT\",\n        \"email\": \"john.doe@example.com\"\n      },\n      \"service_period\": {\n        \"from\": \"2019-03-01\",\n        \"to\": \"2019-03-10\"\n      },\n      \"discount\": {\n        \"amount\": 0,\n        \"type\": \"percent\"\n      },\n      \"cash_discounts\": [\n        {\n          \"days\": 10,\n          \"percent\": 2\n        }\n      ],\n      \"shipping_cost\": 700,\n      \"application_fee\": 1000,\n      \"note\": \"\",\n      \"terms\": \"\",\n      \"transactions\": [],\n      \"positions\": [\n        {\n          \"id\": \"91m3n01a\",\n          \"title\": \"\",\n          \"description\": \"\",\n          \"type\": \"piece\",\n          \"number\": 2,\n          \"price\": 1000,\n          \"discount\": {\n            \"amount\": 0,\n            \"type\": \"percent\"\n          },\n          \"vat\": 0\n        }\n      ],\n      \"payment_link\": \"\",\n      \"attachments\": [],\n      \"bank_information\": {\n        \"iban\": \"\",\n        \"name\": \"\",\n        \"address\": \"\"\n      },\n      \"payout_descriptor\": \"\",\n      \"psp\": [],\n      \"pm\": [],\n      \"mails\": [],\n      \"reference\": \"myref_0001\",\n      \"design\": \"85af2122\",\n      \"reminders\": [\n        {\n          \"id\": \"25dec6ed\",\n          \"days\": 20,\n          \"friendly\": true,\n          \"fee\": 0,\n          \"delay_type\": \"days_after_invoice_date\",\n          \"status\": \"sent\",\n          \"reminder_date\": \"2021-03-17T00:00:00+00:00\"\n        },\n        {\n          \"id\": \"e37eb554\",\n          \"days\": 5,\n          \"friendly\": true,\n          \"fee\": 0,\n          \"delay_type\": \"days_before_due_date\",\n          \"status\": \"active\",\n          \"reminder_date\": \"2021-03-22T00:00:00+00:00\"\n        },\n        {\n          \"id\": \"c17ae3db\",\n          \"days\": 20,\n          \"friendly\": false,\n          \"fee\": 1000,\n          \"delay_type\": \"days_after_due_date\",\n          \"status\": \"active\",\n          \"reminder_date\": \"2021-04-16T00:00:00+00:00\"\n        }\n      ],\n      \"purchaseOnInvoiceInformation\": {\n        \"company\": \"Payrexx AG\",\n        \"address\": \"Burgstrasse 18\",\n        \"zip\": \"3600\",\n        \"place\": \"Thun\",\n        \"bankName\": \"Klarpay AG\",\n        \"swift\": \"KLARCH22XXX\",\n        \"iban\": \"CH083000522710975202X\",\n        \"reference\": \"287133000000000000000001950\"\n      }\n    }\n  ],\n  \"meta\": {\n    \"object\": \"merchant_invoice\",\n    \"parent\": {\n      \"object\": \"merchant\",\n      \"id\": \"cedad42m\"\n    },\n    \"isList\": false\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "object": {
                          "type": "string",
                          "example": "merchant_invoice"
                        },
                        "parent": {
                          "type": "object",
                          "properties": {
                            "object": {
                              "type": "string",
                              "example": "merchant"
                            },
                            "id": {
                              "type": "string",
                              "example": "cedad42m"
                            }
                          }
                        },
                        "isList": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Bad Request": {
                    "summary": "Bad Request",
                    "value": {
                      "status": "error",
                      "message": "An error message that specifies the exact error"
                    }
                  }
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Bill"
        ]
      },
      "patch": {
        "summary": "Update an Invoice",
        "description": "",
        "operationId": "BillUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of invoice to retrieve.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "default": "TODAY",
                    "format": "date"
                  },
                  "language": {
                    "type": "string",
                    "description": "The language ISO code by ISO 639-1."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code (ISO 4217)"
                  },
                  "dueAfterDays": {
                    "type": "integer",
                    "format": "int32",
                    "enum": [
                      5,
                      10,
                      20,
                      30,
                      40,
                      50,
                      60
                    ]
                  },
                  "recipient": {
                    "type": "object",
                    "required": [
                      "email"
                    ],
                    "properties": {
                      "company": {
                        "type": "string",
                        "description": "At least company, first_name or last_name are required."
                      },
                      "firstName": {
                        "type": "string",
                        "description": "At least company, first_name or last_name are required."
                      },
                      "lastName": {
                        "type": "string",
                        "description": "At least company, first_name or last_name are required."
                      },
                      "address": {
                        "type": "string"
                      },
                      "zip": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string",
                        "description": "Country code (ISO 3166-1 alpha-2)"
                      },
                      "email": {
                        "type": "string"
                      }
                    }
                  },
                  "servicePeriod": {
                    "type": "object",
                    "required": [
                      "from"
                    ],
                    "properties": {
                      "from": {
                        "type": "string",
                        "format": "date"
                      },
                      "to": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  },
                  "discount": {
                    "type": "object",
                    "required": [
                      "amount",
                      "type"
                    ],
                    "properties": {
                      "amount": {
                        "type": "integer",
                        "description": "If the type is \"amount\", this amount here needs to be in the smallest unit of the currency.",
                        "format": "int32"
                      },
                      "type": {
                        "type": "string",
                        "description": "either \"percent\" or \"amount\""
                      }
                    }
                  },
                  "cashDiscounts": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "days": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "percent": {
                          "type": "number",
                          "format": "double"
                        }
                      },
                      "required": [
                        "days",
                        "percent"
                      ],
                      "type": "object"
                    }
                  },
                  "shippingCost": {
                    "type": "integer",
                    "description": "Amount in the smallest unit of the currency.",
                    "format": "int32"
                  },
                  "applicationFee": {
                    "type": "integer",
                    "description": "Amount in the smallest unit of the currency.",
                    "format": "int32"
                  },
                  "note": {
                    "type": "string"
                  },
                  "terms": {
                    "type": "string"
                  },
                  "positions": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "description": "Types supported: \"piece\", \"hour\", \"day\", \"flat\"."
                        },
                        "number": {
                          "type": "number",
                          "format": "double"
                        },
                        "price": {
                          "type": "integer",
                          "description": "Amount in the smallest unit of the currency.",
                          "format": "int32"
                        },
                        "discount": {
                          "type": "object",
                          "required": [
                            "amount",
                            "type"
                          ],
                          "properties": {
                            "amount": {
                              "type": "integer",
                              "description": "If the type is \"amount\", this amount here needs to be in the smallest unit of the currency.",
                              "format": "int32"
                            },
                            "type": {
                              "type": "string",
                              "description": "either \"percent\" or \"amount\""
                            }
                          }
                        },
                        "vat": {
                          "type": "number",
                          "description": "Vat in percent.",
                          "format": "double"
                        }
                      },
                      "required": [
                        "title",
                        "type",
                        "price"
                      ],
                      "type": "object"
                    }
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "data": {
                          "type": "string",
                          "format": "binary"
                        }
                      },
                      "required": [
                        "name",
                        "data"
                      ],
                      "type": "object"
                    }
                  },
                  "bankInformation": {
                    "type": "object",
                    "required": [
                      "iban",
                      "name",
                      "address"
                    ],
                    "properties": {
                      "iban": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "address": {
                        "type": "string"
                      }
                    }
                  },
                  "payoutDescriptor": {
                    "type": "string",
                    "description": "This payout descriptor is added to the payout statement (Only for Payrexx Swiss Collecting payments and single transaction payouts). Max. 80 chars."
                  },
                  "psp": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "pm": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "reminders": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "days": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "fee": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "friendly": {
                          "type": "boolean"
                        },
                        "delayType": {
                          "type": "string",
                          "description": "Possible values are: daysAfterInvoiceDate, daysBeforeDueDate, daysAfterDueDate",
                          "default": "daysAfterInvoiceDate"
                        }
                      },
                      "required": [
                        "days",
                        "fee",
                        "friendly"
                      ],
                      "type": "object"
                    }
                  },
                  "reference": {
                    "type": "string"
                  },
                  "design": {
                    "type": "string"
                  },
                  "send": {
                    "type": "boolean",
                    "description": "Whether to send the invoice.",
                    "default": false
                  },
                  "additionalRecipients": {
                    "type": "array",
                    "description": "Send invoice to additional recipients. Pass email addresses as Strings.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "complete": {
                    "type": "boolean",
                    "description": "Whether to complete the invoice.",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": {\n    \"status\": \"draft\",\n    \"paymentStatus\": \"unpaid\",\n    \"id\": \"c160646c\",\n    \"date\": \"2025-01-10\",\n    \"number\": 72,\n    \"total\": 100,\n    \"language\": \"de\",\n    \"currency\": \"CHF\",\n    \"dueAfterDays\": 10,\n    \"recipient\": {\n      \"company\": \"Bachziegel AG\",\n      \"firstName\": \"Max\",\n      \"lastName\": \"Muster\",\n      \"address\": \"Allmednstrasse\",\n      \"zip\": \"3608\",\n      \"city\": \"Thun\",\n      \"country\": \"\",\n      \"email\": \"max.muster@gmail.com\"\n    },\n    \"servicePeriod\": {\n      \"from\": \"\",\n      \"to\": \"\"\n    },\n    \"discount\": {\n      \"amount\": 0,\n      \"type\": \"\"\n    },\n    \"cashDiscounts\": [],\n    \"shippingCost\": 0,\n    \"applicationFee\": 0,\n    \"note\": \"\",\n    \"terms\": \"\",\n    \"transactions\": [],\n    \"positions\": [\n      {\n        \"title\": \"Test\",\n        \"description\": \"\",\n        \"type\": \"piece\",\n        \"number\": 1,\n        \"price\": 100,\n        \"discount\": {\n          \"amount\": 0,\n          \"type\": \"\"\n        },\n        \"vat\": 0\n      }\n    ],\n    \"paymentLink\": \"https://payrexx.link.loc/fb78fa\",\n    \"attachments\": [],\n    \"bankInformation\": {\n      \"iban\": \"\",\n      \"name\": \"\",\n      \"address\": \"\"\n    },\n    \"payoutDescriptor\": null,\n    \"psp\": [],\n    \"pm\": [],\n    \"mails\": [],\n    \"reference\": \"\",\n    \"design\": \"4fc76aae\",\n    \"reminders\": [],\n    \"purchaseOnInvoiceInformation\": {\n      \"company\": \"Payrexx AG\",\n      \"address\": \"Burgstrasse 18\",\n      \"zip\": \"3600\",\n      \"place\": \"Thun\",\n      \"bankName\": \"Klarpay AG\",\n      \"swift\": \"KLARCH22XXX\",\n      \"iban\": \"CH083000522710975202X\",\n      \"reference\": \"287133000000000000000001950\"\n    }\n  },\n  \"meta\": {\n    \"object\": \"merchant_invoice\",\n    \"parent\": {\n      \"object\": \"merchant\",\n      \"id\": \"02ba42b2\"\n    },\n    \"isList\": false\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Invoice"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "object": {
                          "type": "string",
                          "example": "merchant_invoice"
                        },
                        "parent": {
                          "type": "object",
                          "properties": {
                            "object": {
                              "type": "string",
                              "example": "merchant"
                            },
                            "id": {
                              "type": "string",
                              "example": "02ba42b2"
                            }
                          }
                        },
                        "isList": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid Value": {
                    "value": "{\n  \"error\": {\n    \"type\": \"invalid_value\",\n    \"param\": \"currency\",\n    \"message\": \"Invalid value passed for parameter 'currency'\"\n  }\n}"
                  },
                  "Invalid File Type": {
                    "value": "{\n  \"error\": {\n    \"type\": \"invalid_file_type\",\n    \"param\": \"attachments\",\n    \"message\": \"File type 'image/svg+xml' not allowed for parameter 'attachments'\"\n  }\n}"
                  },
                  "Value Regex Mismatch": {
                    "value": "{\n  \"error\": {\n    \"type\": \"value_regex_mismatch\",\n    \"message\": \"The value does not match regex '^data:([^;]+);base64,(.*)$'.\",\n    \"param\": \"attachments.[]\"\n  }\n}"
                  },
                  "Expected Single File or Data URI": {
                    "value": "{\n    \"error\": {\n        \"type\": \"expected_single_file_upload\",\n        \"message\": \"Only a single file or data URI is expected. The File or data URI should not be nested in an array.\"\n    }\n}"
                  },
                  "Max Length Exceeded": {
                    "value": "{\n    \"error\": {\n        \"type\": \"max_length_exceeded\",\n        \"message\": \"Passed value for payout_descriptor exceeded max length\",\n        \"param\": \"payout_descriptor\"\n    }\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "405",
            "content": {
              "application/json": {
                "examples": {
                  "Method Not Allowed": {
                    "value": "{\n  \"error\": {\n    \"type\": \"merchant_invoice_locked\",\n    \"message\": \"This invoice is currently immutable. Find the allowed methods in the 'Allow'-Header.\"\n  }\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Bill"
        ]
      }
    },
    "/Gateway/": {
      "post": {
        "summary": "Create a Gateway",
        "description": "",
        "operationId": "GatewayCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "currency"
                ],
                "properties": {
                  "amount": {
                    "type": "integer",
                    "description": "Amount of payment in cents.",
                    "format": "int32"
                  },
                  "vatRate": {
                    "type": "number",
                    "description": "VAT Rate Percentage",
                    "default": null,
                    "format": "float"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency of payment (ISO code)."
                  },
                  "sku": {
                    "type": "string",
                    "description": "Product stock keeping unit"
                  },
                  "purpose": {
                    "type": "string",
                    "description": "The purpose of the payment."
                  },
                  "successRedirectUrl": {
                    "type": "string",
                    "description": "URL to redirect to after successful payment."
                  },
                  "failedRedirectUrl": {
                    "type": "string",
                    "description": "URL to redirect to after failed payment."
                  },
                  "cancelRedirectUrl": {
                    "type": "string",
                    "description": "URL to redirect to after manual cancellation by shopper."
                  },
                  "basket": {
                    "type": "array",
                    "description": "List of all products (incl. shipping costs). The sum of all product amounts must match the amount parameter above. Basket products contains name, description, quantity, amount (in cents) and vatRate (in Percent).",
                    "items": {
                      "properties": {
                        "name": {
                          "type": "array",
                          "description": "Name of item",
                          "default": [],
                          "items": {
                            "type": "string"
                          }
                        },
                        "description": {
                          "type": "array",
                          "description": "Description of item",
                          "default": [],
                          "items": {
                            "type": "string"
                          }
                        },
                        "quantity": {
                          "type": "integer",
                          "description": "Quantity of item",
                          "format": "int32"
                        },
                        "amount": {
                          "type": "integer",
                          "description": "Amount in cents",
                          "format": "int32"
                        },
                        "vatRate": {
                          "type": "number",
                          "description": "VAT rate of item (overrides vatRate of Gateway, can be 0)",
                          "format": "float"
                        },
                        "sku": {
                          "type": "string",
                          "description": "Product stock keeping unit"
                        }
                      },
                      "required": [
                        "name",
                        "quantity",
                        "amount"
                      ],
                      "type": "object"
                    }
                  },
                  "psp": {
                    "type": "array",
                    "description": "List of PSPs to provide for payment. If empty all available PSPs are provied.",
                    "items": {
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "pm": {
                    "type": "array",
                    "description": "List of payment mean names to display",
                    "items": {
                      "type": "string"
                    }
                  },
                  "preAuthorization": {
                    "type": "boolean",
                    "description": "Whether charge payment manually at a later date (type authorization)",
                    "default": false
                  },
                  "reservation": {
                    "type": "boolean",
                    "description": "Whether charge payment manually at a later date (type reservation)",
                    "default": false
                  },
                  "referenceId": {
                    "type": "string",
                    "description": "An internal reference id used by your system."
                  },
                  "fields": {
                    "type": "object",
                    "description": "The contact data fields which should be stored along with payment",
                    "properties": {
                      "title": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Value of field. Possible values are: mister, miss, diverse"
                          }
                        }
                      },
                      "forename": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          }
                        }
                      },
                      "surname": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          }
                        }
                      },
                      "company": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          }
                        }
                      },
                      "street": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          }
                        }
                      },
                      "postcode": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          }
                        }
                      },
                      "place": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          }
                        }
                      },
                      "country": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          }
                        }
                      },
                      "delivery_title": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Value of field. Possible values are: mister, miss, diverse"
                          }
                        }
                      },
                      "delivery_forename": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          }
                        }
                      },
                      "delivery_surname": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          }
                        }
                      },
                      "delivery_company": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          }
                        }
                      },
                      "delivery_street": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          }
                        }
                      },
                      "delivery_postcode": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          }
                        }
                      },
                      "delivery_place": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          }
                        }
                      },
                      "delivery_country": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          }
                        }
                      },
                      "phone": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          }
                        }
                      },
                      "email": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          }
                        }
                      },
                      "date_of_birth": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          }
                        }
                      },
                      "terms": {
                        "type": "string",
                        "description": "The terms must be accepted if this field is defined in the request"
                      },
                      "privacy_policy": {
                        "type": "string",
                        "description": "The privacy policy must be accepted if this field is defined in the request"
                      },
                      "custom_field_1": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Name of field"
                          },
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          },
                          "export_name": {
                            "type": "string",
                            "description": "Value of export name"
                          }
                        }
                      },
                      "custom_field_2": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "array",
                            "description": "Name of field",
                            "items": {
                              "type": "string"
                            }
                          },
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          },
                          "export_name": {
                            "type": "string",
                            "description": "Value of export name"
                          }
                        }
                      },
                      "custom_field_3": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "array",
                            "description": "Name of field",
                            "items": {
                              "type": "string"
                            }
                          },
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          },
                          "export_name": {
                            "type": "string",
                            "description": "Value of export name"
                          }
                        }
                      },
                      "custom_field_4": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "array",
                            "description": "Name of field",
                            "items": {
                              "type": "string"
                            }
                          },
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          },
                          "export_name": {
                            "type": "string",
                            "description": "Value of export name"
                          }
                        }
                      },
                      "custom_field_5": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "array",
                            "description": "Name of field",
                            "items": {
                              "type": "string"
                            }
                          },
                          "value": {
                            "type": "string",
                            "description": "Value of field"
                          },
                          "export_name": {
                            "type": "string",
                            "description": "Value of export name"
                          }
                        }
                      }
                    }
                  },
                  "language": {
                    "type": "string",
                    "description": "The language ISO code by ISO 639-1."
                  },
                  "concardisOrderId": {
                    "type": "string",
                    "description": "Only available for Concardis PSP and if the custom ORDERID option is activated in PSP settings in Payrexx administration. This ORDERID will be transferred to the Payengine."
                  },
                  "skipResultPage": {
                    "type": "boolean",
                    "description": "Skip result page and directly redirect to success or failed URL",
                    "default": false
                  },
                  "chargeOnAuthorization": {
                    "type": "boolean",
                    "description": "preAuthorization needs to be \"true\". This will charge the authorization during the first payment.",
                    "default": false
                  },
                  "validity": {
                    "type": "integer",
                    "description": "Gateway validity in minutes.",
                    "format": "int32"
                  },
                  "subscriptionState": {
                    "type": "boolean",
                    "description": "Defines whether the payment should be handled as subscription.",
                    "default": false
                  },
                  "subscriptionInterval": {
                    "type": "string",
                    "description": "Payment interval"
                  },
                  "subscriptionPeriod": {
                    "type": "string",
                    "description": "Duration of the subscription"
                  },
                  "subscriptionCancellationInterval": {
                    "type": "string",
                    "description": "Defines the period, in which a subscription can be canceled."
                  },
                  "buttonText": {
                    "type": "array",
                    "description": "Change the default button Text \"Pay\" to a custom String",
                    "items": {
                      "type": "string"
                    }
                  },
                  "lookAndFeelProfile": {
                    "type": "string",
                    "description": "UUID of the look and feel profile to use."
                  },
                  "successMessage": {
                    "type": "string",
                    "description": "Custom success message on result page."
                  },
                  "qrCodeSessionId": {
                    "type": "string",
                    "description": "Holds the session ID of a scanned QR code. Only available and needed for Static QR Code with Twint."
                  },
                  "applicationFee": {
                    "type": "integer",
                    "description": "Amount in the smallest unit of the currency.",
                    "format": "int32"
                  },
                  "reserveOnAuthorization": {
                    "type": "boolean",
                    "description": "preAuthorization needs to be \"true\". This will create a reservation based on an authorization during the first payment."
                  },
                  "isPriceExclusiveVat": {
                    "type": "boolean",
                    "description": "if set to  true the vat will be added on top of amount"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Raw": {
                    "value": {
                      "status": "success",
                      "data": [
                        {
                          "id": 1,
                          "status": "waiting",
                          "hash": "db8c618c87dc91f100292f6ffd9c5044",
                          "referenceId": "975382",
                          "link": "https://demo.payrexx.com/de/?payment=db8c618c87dc91f100292f6ffd9c5044",
                          "invoices": [],
                          "preAuthorization": 0,
                          "reservation": 0,
                          "fields": {
                            "title": {
                              "active": false,
                              "mandatory": true
                            },
                            "forename": {
                              "active": false,
                              "mandatory": true
                            },
                            "surname": {
                              "active": false,
                              "mandatory": true
                            },
                            "company": {
                              "active": false,
                              "mandatory": true
                            },
                            "street": {
                              "active": false,
                              "mandatory": true
                            },
                            "postcode": {
                              "active": false,
                              "mandatory": true
                            },
                            "place": {
                              "active": false,
                              "mandatory": true
                            },
                            "country": {
                              "active": false,
                              "mandatory": true
                            },
                            "phone": {
                              "active": false,
                              "mandatory": true
                            },
                            "email": {
                              "active": false,
                              "mandatory": true
                            },
                            "date_of_birth": {
                              "active": false,
                              "mandatory": true,
                              "names": {
                                "de": "",
                                "en": "",
                                "fr": "",
                                "it": ""
                              }
                            },
                            "terms": {
                              "active": true,
                              "mandatory": true
                            },
                            "privacy_policy": {
                              "active": true,
                              "mandatory": true
                            },
                            "text": {
                              "active": false,
                              "mandatory": true,
                              "names": {
                                "de": "Benutzerdefiniertes Feld (DE)",
                                "en": "Benutzerdefiniertes Feld (EN)",
                                "fr": "Benutzerdefiniertes Feld (FR)",
                                "it": "Benutzerdefiniertes Feld (IT)"
                              }
                            }
                          },
                          "psp": [],
                          "pm": [],
                          "amount": 8925,
                          "vatRate": 7.7,
                          "currency": "CHF",
                          "sku": "P01122000",
                          "createdAt": 1475578052
                        }
                      ]
                    }
                  },
                  "Python JSON dict": {
                    "value": "{  \n   'createdAt':1481924665,\n   'amount':8925,\n   'vatRate':7.7,\n   'hash':'2665a4aa5508f2451df403ba04314477',\n   'psp':0,\n   'link':'https://demo.payrexx.com/de/?payment=2665a4aa5508f2451df403ba04314477',\n   'currency':'CHF',\n   'sku':'P01122000',\n   'referenceId':'',\n   'status':'waiting',\n   'id':1,\n   'invoices':[  \n\n   ],\n   'preAuthorization':0,\n   'reservation':0,\n   'fields':[  \n\n   ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Gateway"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Bad Request": {
                    "summary": "Bad Request",
                    "value": {
                      "status": "error",
                      "message": "An error message that specifies the exact error"
                    }
                  }
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "apiSignature=`echo -n \"amount=8925&vatRate=7.7&currency=CHF&sku=P01122000&pm%5B0%5D=visa&preAuthorization=0&reservation=0&referenceId=975382&fields%5Bforename%5D%5Bvalue%5D=Max&fields%5Bsurname%5D%5Bvalue%5D=Mustermann&fields%5Bemail%5D%5Bvalue%5D=max.mustermann%40mysite.com&successRedirectUrl=https%3A%2F%2Fwww.merchant-website.com%2Fsuccess&failedRedirectUrl=https%3A%2F%2Fwww.merchant-website.com%2Ffailed\" | openssl dgst -sha256 -hmac \"INSTANCE_API_SECRET\" -binary | openssl enc -base64`\ncurl --request POST \"https://api.payrexx.com/v1.0/Gateway/?instance=INSTANCE_NAME\" \\\n  --data-urlencode \"amount=8925\" \\\n  --data-urlencode \"vatRate=7.7\" \\\n  --data-urlencode \"currency=CHF\" \\\n  --data-urlencode \"sku=P01122000\" \\\n  --data-urlencode \"pm[0]=visa\" \\\n  --data-urlencode \"preAuthorization=0\" \\\n  --data-urlencode \"reservation=0\" \\\n  --data-urlencode \"referenceId=975382\" \\\n  --data-urlencode \"fields[forename][value]=Max\" \\\n  --data-urlencode \"fields[surname][value]=Mustermann\" \\\n  --data-urlencode \"fields[email][value]=max.mustermann@mysite.com\" \\\n  --data-urlencode \"successRedirectUrl=https://www.merchant-website.com/success\" \\\n  --data-urlencode \"failedRedirectUrl=https://www.merchant-website.com/failed\" \\\n  --data-urlencode \"basket[0][name]=Product\" \\\n  --data-urlencode \"basket[0][amount]=8000\" \\\n  --data-urlencode \"basket[0][quantity]=1\" \\\n  --data-urlencode \"basket[0][sku]=P01122000\" \\\n  --data-urlencode \"basket[1][name]=Shipping Costs\" \\\n  --data-urlencode \"basket[1][amount]=925\" \\\n  --data-urlencode \"basket[1][quantity]=1\" \\\n  --data-urlencode \"basket[1][vatRate]=0\" \\\n\t--data-urlencode \"language=DE\" \\\n  --data-urlencode \"ApiSignature=$apiSignature\""
            },
            {
              "language": "kotlin",
              "code": "<?php\n\nspl_autoload_register(function($class) {\n    $root = dirname(__DIR__);\n    $classFile = $root . '/lib/' . str_replace('\\\\', '/', $class) . '.php';\n    if (file_exists($classFile)) {\n        require_once $classFile;\n    }\n});\n\n// $instanceName is a part of the url where you access your payrexx installation.\n// https://{$instanceName}.payrexx.com\n$instanceName = 'YOUR_INSTANCE_NAME';\n\n// $secret is the payrexx secret for the communication between the applications\n// if you think someone got your secret, just regenerate it in the payrexx administration\n$secret = 'YOUR_SECRET';\n\n$payrexx = new \\Payrexx\\Payrexx($instanceName, $secret);\n\n$gateway = new \\Payrexx\\Models\\Request\\Gateway();\n\n// amount multiplied by 100\n$gateway->setAmount(89.25 * 100);\n\n// VAT rate percentage (nullable)\n$gateway->setVatRate(7.70);\n\n//Product SKU\n$gateway->setSku('P01122000');\n\n// currency ISO code\n$gateway->setCurrency('CHF');\n\n// language ISO code\n$gateway->setLanguage('DE');\n\n//success and failed url in case that merchant redirects to payment site instead of using the modal view\n$gateway->setSuccessRedirectUrl('https://www.merchant-website.com/success');\n$gateway->setFailedRedirectUrl('https://www.merchant-website.com/failed');\n$gateway->setCancelRedirectUrl('https://www.merchant-website.com/cancel');\n\n// empty array = all available psps\n$gateway->setPsp([]);\n//$gateway->setPsp(array(4));\n//$gateway->setPm(['mastercard']);\n\n// optional: whether charge payment manually at a later date (type authorization)\n$gateway->setPreAuthorization(false);\n// optional: if you want to do a pre authorization which should be charged on first time\n//$gateway->setChargeOnAuthorization(true);\n\n// optional: whether charge payment manually at a later date (type reservation)\n$gateway->setReservation(false);\n\n// subscription information if you want the customer to authorize a recurring payment.\n// this does not work in combination with pre-authorization payments.\n//$gateway->setSubscriptionState(true);\n//$gateway->setSubscriptionInterval('P1M');\n//$gateway->setSubscriptionPeriod('P1Y');\n//$gateway->setSubscriptionCancellationInterval('P3M');\n\n// optional: reference id of merchant (e. g. order number)\n$gateway->setReferenceId(975382);\n//$gateway->setValidity(5);\n//$gateway->setLookAndFeelProfile('144be481');\n\n// optional: parse multiple products\n//$gateway->setBasket([\n//    [\n//        'name' => [\n//            1 => 'Dies ist der Produktbeispielname 1 (DE)',\n//            2 => 'This is product sample name 1 (EN)',\n//            3 => 'Ceci est le nom de l\\'échantillon de produit 1 (FR)',\n//            4 => 'Questo è il nome del campione del prodotto 1 (IT)'\n//        ],\n//        'description' => [\n//            1 => 'Dies ist die Produktmusterbeschreibung 1 (DE)',\n//            2 => 'This is product sample description 1 (EN)',\n//            3 => 'Ceci est la description de l\\'échantillon de produit 1 (FR)',\n//            4 => 'Questa è la descrizione del campione del prodotto 1 (IT)'\n//        ],\n//        'quantity' => 1,\n//        'amount' => 100\n//    ],\n//    [\n//        'name' => [\n//            1 => 'Dies ist der Produktbeispielname 2 (DE)',\n//            2 => 'This is product sample name 2 (EN)',\n//            3 => 'Ceci est le nom de l\\'échantillon de produit 2 (FR)',\n//            4 => 'Questo è il nome del campione del prodotto 2 (IT)'\n//        ],\n//        'description' => [\n//            1 => 'Dies ist die Produktmusterbeschreibung 2 (DE)',\n//            2 => 'This is product sample description 2 (EN)',\n//            3 => 'Ceci est la description de l\\'échantillon de produit 2 (FR)',\n//            4 => 'Questa è la descrizione del campione del prodotto 2 (IT)'\n//        ],\n//        'quantity' => 2,\n//        'amount' => 200,\n//        'vatRate' => 0\n//    ]\n//]);\n\n// optional: add contact information which should be stored along with payment\n$gateway->addField($type = 'title', $value = 'mister');\n$gateway->addField($type = 'forename', $value = 'Max');\n$gateway->addField($type = 'surname', $value = 'Mustermann');\n$gateway->addField($type = 'company', $value = 'Max Musterfirma');\n$gateway->addField($type = 'street', $value = 'Musterweg 1');\n$gateway->addField($type = 'postcode', $value = '1234');\n$gateway->addField($type = 'place', $value = 'Musterort');\n$gateway->addField($type = 'country', $value = 'AT');\n$gateway->addField($type = 'phone', $value = '+43123456789');\n$gateway->addField($type = 'email', $value = 'max.muster@payrexx.com');\n$gateway->addField($type = 'date_of_birth', $value = '03.06.1985');\n$gateway->addField($type = 'terms', '');\n$gateway->addField($type = 'privacy_policy', '');\n$gateway->addField($type = 'custom_field_1', $value = '123456789', $name = array(\n    1 => 'Benutzerdefiniertes Feld (DE)',\n    2 => 'Benutzerdefiniertes Feld (EN)',\n    3 => 'Benutzerdefiniertes Feld (FR)',\n    4 => 'Benutzerdefiniertes Feld (IT)',\n));\n\ntry {\n    $response = $payrexx->create($gateway);\n    var_dump($response);\n} catch (\\Payrexx\\PayrexxException $e) {\n    print $e->getMessage();\n}"
            },
            {
              "language": "python",
              "code": "#!/usr/bin/env python3\nimport hashlib\nimport hmac\nimport base64\nimport requests\nfrom urllib.parse import urlencode, quote, quote_plus\nfrom collections import OrderedDict\n\ndef generate_signature(query_string, api_secret):\n    signature = hmac.new(api_secret.encode('utf-8'), query_string.encode('utf-8'), hashlib.sha256)\n    return base64.b64encode(signature.digest()).decode('utf-8')\n\ndef flatten_dict(dictionary, parent_key=''):\n    flattened_data = {}\n    for key, value in dictionary.items():\n        new_key = f\"{parent_key}[{key}]\" if parent_key else key\n        if isinstance(value, dict):\n            flattened_data.update(flatten_dict(value, new_key))\n        elif isinstance(value, list):\n            for i, item in enumerate(value):\n                if isinstance(item, dict):\n                    flattened_data.update(flatten_dict(item, f\"{new_key}[{i}]\"))\n                else:\n                    flattened_data[f\"{new_key}[{i}]\"] = item\n        else:\n            flattened_data[new_key] = value\n    return flattened_data\n\ndef encode_query_string(data):\n    encoded_pairs = []\n    for key, value in data.items():\n        encoded_key = quote(key, safe='')\n        if isinstance(value, list):\n            for item in value:\n                encoded_pairs.append(f\"{encoded_key}={quote(str(item), safe='')}\")\n        else:\n            encoded_pairs.append(f\"{encoded_key}={quote(str(value), safe='')}\")\n    return '&'.join(encoded_pairs)\n\n# Define the API endpoint and instance name\napi_endpoint = \"https://api.payrexx.com/v1.0/Gateway/\"\ninstance_name = \"INSTANCE-NAME\"\n\n# Define the API secret\napi_secret = \"API-SECRET\"\n\n# Define the data payload using a normal dictionary\nraw_data = {\n    'amount': 8925,\n    'currency': 'CHF',\n    'sku': 'P01122000',\n    'pm': [\n        'visa',\n        'mastercard',\n        'twint'\n    ],\n    'preAuthorization': 0,\n    'reservation': 0,\n    'referenceId': '975382',\n    'fields': {\n        'forename': {'value': 'Max'},\n        'surname': {'value': 'Mustermann'},\n        'email': {'value': 'max.mustermann@mysite.com'}\n    },\n    'successRedirectUrl': 'https://www.merchant-website.com/success',\n    'failedRedirectUrl': 'https://www.merchant-website.com/failed',\n    'basket': [\n        {'name': 'Product', 'amount': 8000, 'quantity': 1, 'vatRate': 7.7},\n        {'name': 'Shipping Costs', 'amount': 925, 'quantity': 1, 'vatRate': 0}\n    ],\n\t\t'language': 'DE',\n}\n\n# Flatten the rawData\ndata = flatten_dict(raw_data)\n\n# Create Query String\nquery_string = urlencode(data, quote_via=quote_plus)\n\n# Generate the API Signature\napi_signature = generate_signature(query_string, api_secret)\n\n# Add the API signature to the data payload\ndata['ApiSignature'] = api_signature\n\n# Generate QueryString for the Request\nrequest_query_string = encode_query_string(data)\n\n# Make the POST request\nresponse = requests.post(f\"{api_endpoint}?instance={instance_name}\", data=request_query_string)\n\nprint(response.content)"
            },
            {
              "language": "node",
              "code": "// payrexx.js module content:\nconst qs = require('qs')\nconst axios = require('axios')\nconst Base64 = require('crypto-js/enc-base64')\nconst hmacSHA256 = require('crypto-js/hmac-sha256')\n\nconst baseUrl = 'https://api.payrexx.com/v1.0/'\n\nexports.init = function (instance, secret) {\n\n  function buildSignature (data) {\n    let queryStr = '';\n    if (data) {\n      queryStr = qs.stringify(data, {format: 'RFC1738'});\n      queryStr = queryStr.replace(/[!'()*~]/g, (c) => `%${c.charCodeAt(0).toString(16).toUpperCase()}`);\n    }\n    return Base64.stringify(hmacSHA256(queryStr, secret));\n  }\n\n  function buildBaseUrl (path) {\n    return baseUrl + path + '?instance=' + instance\n  }\n\n  return {\n    getGateway: function (id) {\n      const baseUrl = buildBaseUrl('Gateway/' + id + '/')\n      const url = baseUrl + '&ApiSignature=' + buildSignature()\n      return axios.get(url)\n    },\n    createGateway: function (params) {\n      if (!params.amount) {\n        throw new Error('Amount required!')\n      }\n\n      const defaultParams = {\n        currency: 'CHF'\n      }\n\n      let queryParams = Object.assign({}, defaultParams, params)\n\n      const signature = buildSignature(queryParams)\n\n      queryParams.ApiSignature = signature\n      const queryStrSigned = qs.stringify(queryParams)\n\n      const baseUrl = buildBaseUrl('Gateway/')\n      return axios.post(baseUrl, queryStrSigned)\n    }\n  }\n}\n\n// where you want to consume the payrexx module:\nconst payrexx = payrexx.init(instance, api_secret)\nconst response = await payrexx.createGateway({\n  amount: 100,\n  // add more fields here\n})\n\nif (response.status === 200) {\n  const gateway = response.data.data[0]\n  // here you will get the gateway\n}",
              "name": "NodeJS"
            },
            {
              "language": "ruby",
              "code": "require 'openssl'\nrequire 'base64'\nrequire 'net/http'\n\n# Define the instance name and API secret\ninstance_name = \"INSTANCE_NAME\"\ninstance_api_secret = \"INSTANCE_API_SECRET\"\n\n# Construct the query string\nparams = {\n  amount: 8925,\n  vatRate: 7.7,\n  currency: 'CHF',\n  sku: 'P01122000',\n  'pm[0]' => 'visa',\n  preAuthorization: 0,\n  reservation: 0,\n  referenceId: 975382,\n  fields: {\n    'forename' => { 'value' => 'Max' },\n    'surname' => { 'value' => 'Mustermann' },\n    'email' => { 'value' => 'max.mustermann@mysite.com' }\n  },\n  successRedirectUrl: 'https://www.merchant-website.com/success',\n  failedRedirectUrl: 'https://www.merchant-website.com/failed',\n\tlanguage: 'DE'\n}\n\n# Recursively flatten the nested hash\ndef flatten_hash(hash, parent_key = nil, result = {})\n  hash.each do |key, value|\n    current_key = parent_key ? \"#{parent_key}[#{key}]\" : key.to_s\n    if value.is_a?(Hash)\n      flatten_hash(value, current_key, result)\n    else\n      result[current_key] = value\n    end\n  end\n  result\nend\n\n# # Flatten the nested hash in params\nflattened_params = flatten_hash(params)\n\n# Convert the flattened_params hash into a sorted query string\nquery_string = URI.encode_www_form(flattened_params)\n\n# Calculate the API signature\ndigest = OpenSSL::Digest.new('sha256')\nhmac = OpenSSL::HMAC.digest(digest, instance_api_secret, query_string)\napi_signature = Base64.encode64(hmac).chomp\n\n# Make the POST request\nurl = URI.parse(\"https://api.payrexx.com/v1.0/Gateway/\")\nurl.query = URI.encode_www_form({ instance: instance_name })\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(url.request_uri)\n\nflattened_params['ApiSignature'] = api_signature\nrequest.body = URI.encode_www_form(flattened_params)\n\nresponse = http.request(request)\n\nputs response.body"
            }
          ],
          "samples-languages": [
            "curl",
            "kotlin",
            "python",
            "node",
            "ruby"
          ]
        },
        "tags": [
          "Gateway"
        ]
      }
    },
    "/Gateway/{id}/": {
      "delete": {
        "tags": [
          "Gateway"
        ],
        "operationId": "GatewayDelete",
        "summary": "Delete a Gateway",
        "description": "Removes a gateway that has not been used yet. Not present in Payrexx's published API reference; declared here after payrexx-php, whose `delete` verb issues DELETE against this URL (see examples/GatewayDelete.php).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The gateway id."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Gateway"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Retrieve a Gateway",
        "description": "",
        "operationId": "GatewayRetrieve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of gateway payment to retrieve.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Raw": {
                    "value": {
                      "status": "success",
                      "data": [
                        {
                          "id": 1,
                          "status": "(waiting|confirmed|authorized|reserved)",
                          "hash": "db8c618c87dc91f100292f6ffd9c5044",
                          "referenceId": "975382",
                          "link": "https://demo.payrexx.com/de/?payment=db8c618c87dc91f100292f6ffd9c5044",
                          "invoices": [],
                          "preAuthorization": 0,
                          "applicationFee": 0,
                          "fields": {
                            "title": {
                              "active": false,
                              "mandatory": true
                            },
                            "forename": {
                              "active": false,
                              "mandatory": true
                            },
                            "surname": {
                              "active": false,
                              "mandatory": true
                            },
                            "company": {
                              "active": false,
                              "mandatory": true
                            },
                            "street": {
                              "active": false,
                              "mandatory": true
                            },
                            "postcode": {
                              "active": false,
                              "mandatory": true
                            },
                            "place": {
                              "active": false,
                              "mandatory": true
                            },
                            "country": {
                              "active": false,
                              "mandatory": true
                            },
                            "phone": {
                              "active": false,
                              "mandatory": true
                            },
                            "email": {
                              "active": false,
                              "mandatory": true
                            },
                            "date_of_birth": {
                              "active": false,
                              "mandatory": true,
                              "names": {
                                "de": "",
                                "en": "",
                                "fr": "",
                                "it": ""
                              }
                            },
                            "text": {
                              "active": false,
                              "mandatory": true,
                              "names": {
                                "de": "Benutzerdefiniertes Feld (DE)",
                                "en": "Benutzerdefiniertes Feld (EN)",
                                "fr": "Benutzerdefiniertes Feld (FR)",
                                "it": "Benutzerdefiniertes Feld (IT)"
                              }
                            }
                          },
                          "psp": [],
                          "pm": [],
                          "amount": 8925,
                          "vatRate": 7.7,
                          "currency": "CHF",
                          "sku": "P01122000",
                          "createdAt": 1475578052
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Gateway"
[...]
