openapi: 3.0.3
info:
  description: Assembled by scripts/build_spec.py from the per-endpoint OpenAPI fragments
    published on developers.payrexx.com. Not an official Payrexx artefact.
  title: Payrexx REST API
  version: "1.16"
servers:
- description: Payrexx REST API
  url: https://api.payrexx.com/v1.16
tags:
- name: Bill
- name: Ecr
- name: Gateway
- name: Invoice
- name: PaymentProvider
- name: Payout
- name: Subscription
- name: Transaction
paths:
  /Bill/:
    get:
      deprecated: false
      description: ""
      operationId: BillList
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "status": "success",
                      "data": [
                        {
                          "status": "draft",
                          "payment_status": "unpaid",
                          "id": "md021nl8",
                          "date": "2019-04-01",
                          "number": 1,
                          "total": 2700,
                          "language": "de",
                          "currency": "CHF",
                          "due_after_days": 0,
                          "recipient": {
                            "company": "My company",
                            "first_name": "John",
                            "last_name": "Doe",
                            "address": "Main Street 100",
                            "zip": "1000",
                            "city": "Wien",
                            "country": "AT",
                            "email": "john.doe@example.com"
                          },
                          "service_period": {
                            "from": "2019-03-01",
                            "to": "2019-03-10"
                          },
                          "discount": {
                            "amount": 0,
                            "type": "percent"
                          },
                          "cash_discounts": [
                            {
                              "days": 10,
                              "percent": 2
                            }
                          ],
                          "shipping_cost": 700,
                          "application_fee": 1000,
                          "note": "",
                          "terms": "",
                          "transactions": [],
                          "positions": [
                            {
                              "id": "91m3n01a",
                              "title": "",
                              "description": "",
                              "type": "piece",
                              "number": 2,
                              "price": 1000,
                              "discount": {
                                "amount": 0,
                                "type": "percent"
                              },
                              "vat": 0
                            }
                          ],
                          "payment_link": "",
                          "attachments": [],
                          "bank_information": {
                            "iban": "",
                            "name": "",
                            "address": ""
                          },
                          "payout_descriptor": "",
                          "psp": [],
                          "pm": [],
                          "mails": [],
                          "reference": "myref_0001",
                          "design": "85af2122",
                          "reminders": [
                            {
                              "id": "25dec6ed",
                              "days": 20,
                              "friendly": true,
                              "fee": 0,
                              "delay_type": "days_after_invoice_date",
                              "status": "sent",
                              "reminder_date": "2021-03-17T00:00:00+00:00"
                            },
                            {
                              "id": "e37eb554",
                              "days": 5,
                              "friendly": true,
                              "fee": 0,
                              "delay_type": "days_before_due_date",
                              "status": "active",
                              "reminder_date": "2021-03-22T00:00:00+00:00"
                            },
                            {
                              "id": "c17ae3db",
                              "days": 20,
                              "friendly": false,
                              "fee": 1000,
                              "delay_type": "days_after_due_date",
                              "status": "active",
                              "reminder_date": "2021-04-16T00:00:00+00:00"
                            }
                          ],
                          "purchaseOnInvoiceInformation": {
                            "company": "Payrexx AG",
                            "address": "Burgstrasse 18",
                            "zip": "3600",
                            "place": "Thun",
                            "bankName": "Klarpay AG",
                            "swift": "KLARCH22XXX",
                            "iban": "CH083000522710975202X",
                            "reference": "287133000000000000000001950"
                          }
                        }
                      ],
                      "meta": {
                        "object": "merchant_invoice",
                        "parent": {
                          "object": "merchant",
                          "id": "cedad42m"
                        },
                        "is_list": false,
                        "isList": true,
                        "hasMore": true,
                        "lastElement": "37f386cb"
                      }
                    }
              schema:
                $ref: "#/components/schemas/BillList_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  summary: Bad Request
                  value:
                    status: error
                    message: An error message that specifies the exact error
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: "404"
      summary: List all Invoices
      tags:
      - Bill
    post:
      deprecated: false
      description: ""
      operationId: BillCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillCreate_request"
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "status": "success",
                      "data": {
                        "status": "draft",
                        "paymentStatus": "unpaid",
                        "id": "c160646c",
                        "date": "2025-01-10",
                        "number": 72,
                        "total": 100,
                        "language": "de",
                        "currency": "CHF",
                        "dueAfterDays": 10,
                        "recipient": {
                          "company": "Bachziegel AG",
                          "firstName": "Max",
                          "lastName": "Muster",
                          "address": "Allmednstrasse",
                          "zip": "3608",
                          "city": "Thun",
                          "country": "",
                          "email": "max.muster@gmail.com"
                        },
                        "servicePeriod": {
                          "from": "",
                          "to": ""
                        },
                        "discount": {
                          "amount": 0,
                          "type": ""
                        },
                        "cashDiscounts": [],
                        "shippingCost": 0,
                        "applicationFee": 0,
                        "note": "",
                        "terms": "",
                        "transactions": [],
                        "positions": [
                          {
                            "title": "Test",
                            "description": "",
                            "type": "piece",
                            "number": 1,
                            "price": 100,
                            "discount": {
                              "amount": 0,
                              "type": ""
                            },
                            "vat": 0
                          }
                        ],
                        "paymentLink": "https://payrexx.link.loc/fb78fa",
                        "attachments": [],
                        "bankInformation": {
                          "iban": "",
                          "name": "",
                          "address": ""
                        },
                        "payoutDescriptor": null,
                        "psp": [],
                        "pm": [],
                        "mails": [],
                        "reference": "",
                        "design": "4fc76aae",
                        "reminders": [],
                        "purchaseOnInvoiceInformation": {
                          "company": "Payrexx AG",
                          "address": "Burgstrasse 18",
                          "zip": "3600",
                          "place": "Thun",
                          "bankName": "Klarpay AG",
                          "swift": "KLARCH22XXX",
                          "iban": "CH083000522710975202X",
                          "reference": "287133000000000000000001950"
                        }
                      },
                      "meta": {
                        "object": "merchant_invoice",
                        "parent": {
                          "object": "merchant",
                          "id": "02ba42b2"
                        },
                        "isList": false
                      }
                    }
              schema:
                $ref: "#/components/schemas/BillCreate_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Invalid Value:
                  value: |-
                    {
                      "error": {
                        "type": "invalid_value",
                        "param": "currency",
                        "message": "Invalid value passed for parameter 'currency'"
                      }
                    }
                Missing Required Parameter:
                  value: |-
                    {
                      "error": {
                        "type": "missing_required_parameter",
                        "param": "currency",
                        "message": "Required parameter 'currency' was omitted"
                      }
                    }
                Invalid File Type:
                  value: |-
                    {
                      "error": {
                        "type": "invalid_file_type",
                        "message": "File type 'image/svg+xml' not allowed.",
                        "param": "attachments.[]"
                      }
                    }
                Value Regex Mismatch:
                  value: |-
                    {
                      "error": {
                        "type": "value_regex_mismatch",
                        "message": "The value does not match regex '^data:([^;]+);base64,(.*)$'.",
                        "param": "attachments.[]"
                      }
                    }
                Expected Single File or Data URI:
                  value: |-
                    {
                        "error": {
                            "type": "expected_single_file_upload",
                            "message": "Only a single file or data URI is expected. The File or data URI should not be nested in an array."
                        }
                    }
                Max Length Exceeded:
                  value: |-
                    {
                        "error": {
                            "type": "max_length_exceeded",
                            "message": "Passed value for payout_descriptor exceeded max length",
                            "param": "payout_descriptor"
                        }
                    }
              schema:
                $ref: "#/components/schemas/Error"
          description: "400"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: "404"
      summary: Create an Invoice
      tags:
      - Bill
  /Bill/{id}/:
    delete:
      deprecated: false
      description: ""
      operationId: BillDelete
      parameters:
      - description: ID of invoice to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "status": "success",
                      "data": {
                        "deleted": true,
                        "uuid": "6d2f440b"
                      },
                      "meta": {
                        "object": "merchant_invoice",
                        "parent": {
                          "object": "merchant",
                          "id": "02ba42b2"
                        },
                        "isList": false
                      }
                    }
              schema:
                $ref: "#/components/schemas/BillDelete_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  summary: Bad Request
                  value:
                    status: error
                    message: An error message that specifies the exact error
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: "404"
        "405":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error": {
                        "type": "merchant_invoice_locked",
                        "message": "This invoice is currently immutable. Find the allowed methods in the 'Allow'-Header."
                      }
                    }
              schema:
                $ref: "#/components/schemas/Error"
          description: "405"
      summary: Delete an Invoice
      tags:
      - Bill
    get:
      deprecated: false
      description: ""
      operationId: BillRetrieve
      parameters:
      - description: ID of invoice to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "status": "success",
                      "data": [
                        {
                          "status": "draft",
                          "payment_status": "unpaid",
                          "id": "md021nl8",
                          "date": "2019-04-01",
                          "number": 1,
                          "total": 2700,
                          "language": "de",
                          "currency": "CHF",
                          "due_after_days": 0,
                          "recipient": {
                            "company": "My company",
                            "first_name": "John",
                            "last_name": "Doe",
                            "address": "Main Street 100",
                            "zip": "1000",
                            "city": "Wien",
                            "country": "AT",
                            "email": "john.doe@example.com"
                          },
                          "service_period": {
                            "from": "2019-03-01",
                            "to": "2019-03-10"
                          },
                          "discount": {
                            "amount": 0,
                            "type": "percent"
                          },
                          "cash_discounts": [
                            {
                              "days": 10,
                              "percent": 2
                            }
                          ],
                          "shipping_cost": 700,
                          "application_fee": 1000,
                          "note": "",
                          "terms": "",
                          "transactions": [],
                          "positions": [
                            {
                              "id": "91m3n01a",
                              "title": "",
                              "description": "",
                              "type": "piece",
                              "number": 2,
                              "price": 1000,
                              "discount": {
                                "amount": 0,
                                "type": "percent"
                              },
                              "vat": 0
                            }
                          ],
                          "payment_link": "",
                          "attachments": [],
                          "bank_information": {
                            "iban": "",
                            "name": "",
                            "address": ""
                          },
                          "payout_descriptor": "",
                          "psp": [],
                          "pm": [],
                          "mails": [],
                          "reference": "myref_0001",
                          "design": "85af2122",
                          "reminders": [
                            {
                              "id": "25dec6ed",
                              "days": 20,
                              "friendly": true,
                              "fee": 0,
                              "delay_type": "days_after_invoice_date",
                              "status": "sent",
                              "reminder_date": "2021-03-17T00:00:00+00:00"
                            },
                            {
                              "id": "e37eb554",
                              "days": 5,
                              "friendly": true,
                              "fee": 0,
                              "delay_type": "days_before_due_date",
                              "status": "active",
                              "reminder_date": "2021-03-22T00:00:00+00:00"
                            },
                            {
                              "id": "c17ae3db",
                              "days": 20,
                              "friendly": false,
                              "fee": 1000,
                              "delay_type": "days_after_due_date",
                              "status": "active",
                              "reminder_date": "2021-04-16T00:00:00+00:00"
                            }
                          ],
                          "purchaseOnInvoiceInformation": {
                            "company": "Payrexx AG",
                            "address": "Burgstrasse 18",
                            "zip": "3600",
                            "place": "Thun",
                            "bankName": "Klarpay AG",
                            "swift": "KLARCH22XXX",
                            "iban": "CH083000522710975202X",
                            "reference": "287133000000000000000001950"
                          }
                        }
                      ],
                      "meta": {
                        "object": "merchant_invoice",
                        "parent": {
                          "object": "merchant",
                          "id": "cedad42m"
                        },
                        "isList": false
                      }
                    }
              schema:
                $ref: "#/components/schemas/BillRetrieve_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  summary: Bad Request
                  value:
                    status: error
                    message: An error message that specifies the exact error
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: "404"
      summary: Retrieve an Invoice
      tags:
      - Bill
    patch:
      deprecated: false
      description: ""
      operationId: BillUpdate
      parameters:
      - description: ID of invoice to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillUpdate_request"
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "status": "success",
                      "data": {
                        "status": "draft",
                        "paymentStatus": "unpaid",
                        "id": "c160646c",
                        "date": "2025-01-10",
                        "number": 72,
                        "total": 100,
                        "language": "de",
                        "currency": "CHF",
                        "dueAfterDays": 10,
                        "recipient": {
                          "company": "Bachziegel AG",
                          "firstName": "Max",
                          "lastName": "Muster",
                          "address": "Allmednstrasse",
                          "zip": "3608",
                          "city": "Thun",
                          "country": "",
                          "email": "max.muster@gmail.com"
                        },
                        "servicePeriod": {
                          "from": "",
                          "to": ""
                        },
                        "discount": {
                          "amount": 0,
                          "type": ""
                        },
                        "cashDiscounts": [],
                        "shippingCost": 0,
                        "applicationFee": 0,
                        "note": "",
                        "terms": "",
                        "transactions": [],
                        "positions": [
                          {
                            "title": "Test",
                            "description": "",
                            "type": "piece",
                            "number": 1,
                            "price": 100,
                            "discount": {
                              "amount": 0,
                              "type": ""
                            },
                            "vat": 0
                          }
                        ],
                        "paymentLink": "https://payrexx.link.loc/fb78fa",
                        "attachments": [],
                        "bankInformation": {
                          "iban": "",
                          "name": "",
                          "address": ""
                        },
                        "payoutDescriptor": null,
                        "psp": [],
                        "pm": [],
                        "mails": [],
                        "reference": "",
                        "design": "4fc76aae",
                        "reminders": [],
                        "purchaseOnInvoiceInformation": {
                          "company": "Payrexx AG",
                          "address": "Burgstrasse 18",
                          "zip": "3600",
                          "place": "Thun",
                          "bankName": "Klarpay AG",
                          "swift": "KLARCH22XXX",
                          "iban": "CH083000522710975202X",
                          "reference": "287133000000000000000001950"
                        }
                      },
                      "meta": {
                        "object": "merchant_invoice",
                        "parent": {
                          "object": "merchant",
                          "id": "02ba42b2"
                        },
                        "isList": false
                      }
                    }
              schema:
                $ref: "#/components/schemas/BillCreate_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Invalid Value:
                  value: |-
                    {
                      "error": {
                        "type": "invalid_value",
                        "param": "currency",
                        "message": "Invalid value passed for parameter 'currency'"
                      }
                    }
                Invalid File Type:
                  value: |-
                    {
                      "error": {
                        "type": "invalid_file_type",
                        "param": "attachments",
                        "message": "File type 'image/svg+xml' not allowed for parameter 'attachments'"
                      }
                    }
                Value Regex Mismatch:
                  value: |-
                    {
                      "error": {
                        "type": "value_regex_mismatch",
                        "message": "The value does not match regex '^data:([^;]+);base64,(.*)$'.",
                        "param": "attachments.[]"
                      }
                    }
                Expected Single File or Data URI:
                  value: |-
                    {
                        "error": {
                            "type": "expected_single_file_upload",
                            "message": "Only a single file or data URI is expected. The File or data URI should not be nested in an array."
                        }
                    }
                Max Length Exceeded:
                  value: |-
                    {
                        "error": {
                            "type": "max_length_exceeded",
                            "message": "Passed value for payout_descriptor exceeded max length",
                            "param": "payout_descriptor"
                        }
                    }
              schema:
                $ref: "#/components/schemas/Error"
          description: "400"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: "404"
        "405":
          content:
            application/json:
              examples:
                Method Not Allowed:
                  value: |-
                    {
                      "error": {
                        "type": "merchant_invoice_locked",
                        "message": "This invoice is currently immutable. Find the allowed methods in the 'Allow'-Header."
                      }
                    }
              schema:
                $ref: "#/components/schemas/Error"
          description: "405"
      summary: Update an Invoice
      tags:
      - Bill
  /Gateway/:
    post:
      deprecated: false
      description: ""
      operationId: GatewayCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GatewayCreate_request"
      responses:
        "200":
          content:
            application/json:
              examples:
                Raw:
                  value:
                    status: success
                    data:
                    - id: 1
                      status: waiting
                      hash: db8c618c87dc91f100292f6ffd9c5044
                      referenceId: "975382"
                      link: https://demo.payrexx.com/de/?payment=db8c618c87dc91f100292f6ffd9c5044
                      invoices: []
                      preAuthorization: 0
                      reservation: 0
                      fields:
                        title:
                          active: false
                          mandatory: true
                        forename:
                          active: false
                          mandatory: true
                        surname:
                          active: false
                          mandatory: true
                        company:
                          active: false
                          mandatory: true
                        street:
                          active: false
                          mandatory: true
                        postcode:
                          active: false
                          mandatory: true
                        place:
                          active: false
                          mandatory: true
                        country:
                          active: false
                          mandatory: true
                        phone:
                          active: false
                          mandatory: true
                        email:
                          active: false
                          mandatory: true
                        date_of_birth:
                          active: false
                          mandatory: true
                          names:
                            de: ""
                            en: ""
                            fr: ""
                            it: ""
                        terms:
                          active: true
                          mandatory: true
                        privacy_policy:
                          active: true
                          mandatory: true
                        text:
                          active: false
                          mandatory: true
                          names:
                            de: Benutzerdefiniertes Feld (DE)
                            en: Benutzerdefiniertes Feld (EN)
                            fr: Benutzerdefiniertes Feld (FR)
                            it: Benutzerdefiniertes Feld (IT)
                      psp: []
                      pm: []
                      amount: 8925
                      vatRate: 7.7
                      currency: CHF
                      sku: P01122000
                      createdAt: 1475578052
                Python JSON dict:
                  value: "{  \n   'createdAt':1481924665,\n   'amount':8925,\n   'vatRate':7.7,\n\
                    \   'hash':'2665a4aa5508f2451df403ba04314477',\n   'psp':0,\n\
                    \   'link':'https://demo.payrexx.com/de/?payment=2665a4aa5508f2451df403ba04314477',\n\
                    \   'currency':'CHF',\n   'sku':'P01122000',\n   'referenceId':'',\n\
                    \   'status':'waiting',\n   'id':1,\n   'invoices':[  \n\n   ],\n\
                    \   'preAuthorization':0,\n   'reservation':0,\n   'fields':[\
                    \  \n\n   ]\n}"
              schema:
                $ref: "#/components/schemas/GatewayCreate_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  summary: Bad Request
                  value:
                    status: error
                    message: An error message that specifies the exact error
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Create a Gateway
      tags:
      - Gateway
      x-readme:
        code-samples:
        - language: curl
          code: "apiSignature=`echo -n \"amount=8925&vatRate=7.7&currency=CHF&sku=P01122000&pm%5B0%5D=visa&preAuthorization=0&reservation=0&referenceId=975382&fields%5Bforename%5D%5Bvalue%5D=Max&fields%5Bsurname%5D%5Bvalue%5D=Mustermann&fields%5Bemail%5D%5Bvalue%5D=max.mustermann%40mysite.com&successRedirectUrl=https%3A%2F%2Fwww.merchant-website.com%2Fsuccess&failedRedirectUrl=https%3A%2F%2Fwww.merchant-website.com%2Ffailed\"\
            \ | openssl dgst -sha256 -hmac \"INSTANCE_API_SECRET\" -binary | openssl\
            \ enc -base64`\ncurl --request POST \"https://api.payrexx.com/v1.0/Gateway/?instance=INSTANCE_NAME\"\
            \ \\\n  --data-urlencode \"amount=8925\" \\\n  --data-urlencode \"vatRate=7.7\"\
            \ \\\n  --data-urlencode \"currency=CHF\" \\\n  --data-urlencode \"sku=P01122000\"\
            \ \\\n  --data-urlencode \"pm[0]=visa\" \\\n  --data-urlencode \"preAuthorization=0\"\
            \ \\\n  --data-urlencode \"reservation=0\" \\\n  --data-urlencode \"referenceId=975382\"\
            \ \\\n  --data-urlencode \"fields[forename][value]=Max\" \\\n  --data-urlencode\
            \ \"fields[surname][value]=Mustermann\" \\\n  --data-urlencode \"fields[email][value]=max.mustermann@mysite.com\"\
            \ \\\n  --data-urlencode \"successRedirectUrl=https://www.merchant-website.com/success\"\
            \ \\\n  --data-urlencode \"failedRedirectUrl=https://www.merchant-website.com/failed\"\
            \ \\\n  --data-urlencode \"basket[0][name]=Product\" \\\n  --data-urlencode\
            \ \"basket[0][amount]=8000\" \\\n  --data-urlencode \"basket[0][quantity]=1\"\
            \ \\\n  --data-urlencode \"basket[0][sku]=P01122000\" \\\n  --data-urlencode\
            \ \"basket[1][name]=Shipping Costs\" \\\n  --data-urlencode \"basket[1][amount]=925\"\
            \ \\\n  --data-urlencode \"basket[1][quantity]=1\" \\\n  --data-urlencode\
            \ \"basket[1][vatRate]=0\" \\\n\t--data-urlencode \"language=DE\" \\\n\
            \  --data-urlencode \"ApiSignature=$apiSignature\""
        - language: kotlin
          code: |-
            <?php

            spl_autoload_register(function($class) {
                $root = dirname(__DIR__);
                $classFile = $root . '/lib/' . str_replace('\\', '/', $class) . '.php';
                if (file_exists($classFile)) {
                    require_once $classFile;
                }
            });

            // $instanceName is a part of the url where you access your payrexx installation.
            // https://{$instanceName}.payrexx.com
            $instanceName = 'YOUR_INSTANCE_NAME';

            // $secret is the payrexx secret for the communication between the applications
            // if you think someone got your secret, just regenerate it in the payrexx administration
            $secret = 'YOUR_SECRET';

            $payrexx = new \Payrexx\Payrexx($instanceName, $secret);

            $gateway = new \Payrexx\Models\Request\Gateway();

            // amount multiplied by 100
            $gateway->setAmount(89.25 * 100);

            // VAT rate percentage (nullable)
            $gateway->setVatRate(7.70);

            //Product SKU
            $gateway->setSku('P01122000');

            // currency ISO code
            $gateway->setCurrency('CHF');

            // language ISO code
            $gateway->setLanguage('DE');

            //success and failed url in case that merchant redirects to payment site instead of using the modal view
            $gateway->setSuccessRedirectUrl('https://www.merchant-website.com/success');
            $gateway->setFailedRedirectUrl('https://www.merchant-website.com/failed');
            $gateway->setCancelRedirectUrl('https://www.merchant-website.com/cancel');

            // empty array = all available psps
            $gateway->setPsp([]);
            //$gateway->setPsp(array(4));
            //$gateway->setPm(['mastercard']);

            // optional: whether charge payment manually at a later date (type authorization)
            $gateway->setPreAuthorization(false);
            // optional: if you want to do a pre authorization which should be charged on first time
            //$gateway->setChargeOnAuthorization(true);

            // optional: whether charge payment manually at a later date (type reservation)
            $gateway->setReservation(false);

            // subscription information if you want the customer to authorize a recurring payment.
            // this does not work in combination with pre-authorization payments.
            //$gateway->setSubscriptionState(true);
            //$gateway->setSubscriptionInterval('P1M');
            //$gateway->setSubscriptionPeriod('P1Y');
            //$gateway->setSubscriptionCancellationInterval('P3M');

            // optional: reference id of merchant (e. g. order number)
            $gateway->setReferenceId(975382);
            //$gateway->setValidity(5);
            //$gateway->setLookAndFeelProfile('144be481');

            // optional: parse multiple products
            //$gateway->setBasket([
            //    [
            //        'name' => [
            //            1 => 'Dies ist der Produktbeispielname 1 (DE)',
            //            2 => 'This is product sample name 1 (EN)',
            //            3 => 'Ceci est le nom de l\'échantillon de produit 1 (FR)',
            //            4 => 'Questo è il nome del campione del prodotto 1 (IT)'
            //        ],
            //        'description' => [
            //            1 => 'Dies ist die Produktmusterbeschreibung 1 (DE)',
            //            2 => 'This is product sample description 1 (EN)',
            //            3 => 'Ceci est la description de l\'échantillon de produit 1 (FR)',
            //            4 => 'Questa è la descrizione del campione del prodotto 1 (IT)'
            //        ],
            //        'quantity' => 1,
            //        'amount' => 100
            //    ],
            //    [
            //        'name' => [
            //            1 => 'Dies ist der Produktbeispielname 2 (DE)',
            //            2 => 'This is product sample name 2 (EN)',
            //            3 => 'Ceci est le nom de l\'échantillon de produit 2 (FR)',
            //            4 => 'Questo è il nome del campione del prodotto 2 (IT)'
            //        ],
            //        'description' => [
            //            1 => 'Dies ist die Produktmusterbeschreibung 2 (DE)',
            //            2 => 'This is product sample description 2 (EN)',
            //            3 => 'Ceci est la description de l\'échantillon de produit 2 (FR)',
            //            4 => 'Questa è la descrizione del campione del prodotto 2 (IT)'
            //        ],
            //        'quantity' => 2,
            //        'amount' => 200,
            //        'vatRate' => 0
            //    ]
            //]);

            // optional: add contact information which should be stored along with payment
            $gateway->addField($type = 'title', $value = 'mister');
            $gateway->addField($type = 'forename', $value = 'Max');
            $gateway->addField($type = 'surname', $value = 'Mustermann');
            $gateway->addField($type = 'company', $value = 'Max Musterfirma');
            $gateway->addField($type = 'street', $value = 'Musterweg 1');
            $gateway->addField($type = 'postcode', $value = '1234');
            $gateway->addField($type = 'place', $value = 'Musterort');
            $gateway->addField($type = 'country', $value = 'AT');
            $gateway->addField($type = 'phone', $value = '+43123456789');
            $gateway->addField($type = 'email', $value = 'max.muster@payrexx.com');
            $gateway->addField($type = 'date_of_birth', $value = '03.06.1985');
            $gateway->addField($type = 'terms', '');
            $gateway->addField($type = 'privacy_policy', '');
            $gateway->addField($type = 'custom_field_1', $value = '123456789', $name = array(
                1 => 'Benutzerdefiniertes Feld (DE)',
                2 => 'Benutzerdefiniertes Feld (EN)',
                3 => 'Benutzerdefiniertes Feld (FR)',
                4 => 'Benutzerdefiniertes Feld (IT)',
            ));

            try {
                $response = $payrexx->create($gateway);
                var_dump($response);
            } catch (\Payrexx\PayrexxException $e) {
                print $e->getMessage();
            }
        - language: python
          code: "#!/usr/bin/env python3\nimport hashlib\nimport hmac\nimport base64\n\
            import requests\nfrom urllib.parse import urlencode, quote, quote_plus\n\
            from collections import OrderedDict\n\ndef generate_signature(query_string,\
            \ api_secret):\n    signature = hmac.new(api_secret.encode('utf-8'), query_string.encode('utf-8'),\
            \ hashlib.sha256)\n    return base64.b64encode(signature.digest()).decode('utf-8')\n\
            \ndef flatten_dict(dictionary, parent_key=''):\n    flattened_data = {}\n\
            \    for key, value in dictionary.items():\n        new_key = f\"{parent_key}[{key}]\"\
            \ if parent_key else key\n        if isinstance(value, dict):\n      \
            \      flattened_data.update(flatten_dict(value, new_key))\n        elif\
            \ isinstance(value, list):\n            for i, item in enumerate(value):\n\
            \                if isinstance(item, dict):\n                    flattened_data.update(flatten_dict(item,\
            \ f\"{new_key}[{i}]\"))\n                else:\n                    flattened_data[f\"\
            {new_key}[{i}]\"] = item\n        else:\n            flattened_data[new_key]\
            \ = value\n    return flattened_data\n\ndef encode_query_string(data):\n\
            \    encoded_pairs = []\n    for key, value in data.items():\n       \
            \ encoded_key = quote(key, safe='')\n        if isinstance(value, list):\n\
            \            for item in value:\n                encoded_pairs.append(f\"\
            {encoded_key}={quote(str(item), safe='')}\")\n        else:\n        \
            \    encoded_pairs.append(f\"{encoded_key}={quote(str(value), safe='')}\"\
            )\n    return '&'.join(encoded_pairs)\n\n# Define the API endpoint and\
            \ instance name\napi_endpoint = \"https://api.payrexx.com/v1.0/Gateway/\"\
            \ninstance_name = \"INSTANCE-NAME\"\n\n# Define the API secret\napi_secret\
            \ = \"API-SECRET\"\n\n# Define the data payload using a normal dictionary\n\
            raw_data = {\n    'amount': 8925,\n    'currency': 'CHF',\n    'sku':\
            \ 'P01122000',\n    'pm': [\n        'visa',\n        'mastercard',\n\
            \        'twint'\n    ],\n    'preAuthorization': 0,\n    'reservation':\
            \ 0,\n    'referenceId': '975382',\n    'fields': {\n        'forename':\
            \ {'value': 'Max'},\n        'surname': {'value': 'Mustermann'},\n   \
            \     'email': {'value': 'max.mustermann@mysite.com'}\n    },\n    'successRedirectUrl':\
            \ 'https://www.merchant-website.com/success',\n    'failedRedirectUrl':\
            \ 'https://www.merchant-website.com/failed',\n    'basket': [\n      \
            \  {'name': 'Product', 'amount': 8000, 'quantity': 1, 'vatRate': 7.7},\n\
            \        {'name': 'Shipping Costs', 'amount': 925, 'quantity': 1, 'vatRate':\
            \ 0}\n    ],\n\t\t'language': 'DE',\n}\n\n# Flatten the rawData\ndata\
            \ = flatten_dict(raw_data)\n\n# Create Query String\nquery_string = urlencode(data,\
            \ quote_via=quote_plus)\n\n# Generate the API Signature\napi_signature\
            \ = generate_signature(query_string, api_secret)\n\n# Add the API signature\
            \ to the data payload\ndata['ApiSignature'] = api_signature\n\n# Generate\
            \ QueryString for the Request\nrequest_query_string = encode_query_string(data)\n\
            \n# Make the POST request\nresponse = requests.post(f\"{api_endpoint}?instance={instance_name}\"\
            , data=request_query_string)\n\nprint(response.content)"
        - language: node
          code: |-
            // payrexx.js module content:
            const qs = require('qs')
            const axios = require('axios')
            const Base64 = require('crypto-js/enc-base64')
            const hmacSHA256 = require('crypto-js/hmac-sha256')

            const baseUrl = 'https://api.payrexx.com/v1.0/'

            exports.init = function (instance, secret) {

              function buildSignature (data) {
                let queryStr = '';
                if (data) {
                  queryStr = qs.stringify(data, {format: 'RFC1738'});
                  queryStr = queryStr.replace(/[!'()*~]/g, (c) => `%${c.charCodeAt(0).toString(16).toUpperCase()}`);
                }
                return Base64.stringify(hmacSHA256(queryStr, secret));
              }

              function buildBaseUrl (path) {
                return baseUrl + path + '?instance=' + instance
              }

              return {
                getGateway: function (id) {
                  const baseUrl = buildBaseUrl('Gateway/' + id + '/')
                  const url = baseUrl + '&ApiSignature=' + buildSignature()
                  return axios.get(url)
                },
                createGateway: function (params) {
                  if (!params.amount) {
                    throw new Error('Amount required!')
                  }

                  const defaultParams = {
                    currency: 'CHF'
                  }

                  let queryParams = Object.assign({}, defaultParams, params)

                  const signature = buildSignature(queryParams)

                  queryParams.ApiSignature = signature
                  const queryStrSigned = qs.stringify(queryParams)

                  const baseUrl = buildBaseUrl('Gateway/')
                  return axios.post(baseUrl, queryStrSigned)
                }
              }
            }

            // where you want to consume the payrexx module:
            const payrexx = payrexx.init(instance, api_secret)
            const response = await payrexx.createGateway({
              amount: 100,
              // add more fields here
            })

            if (response.status === 200) {
              const gateway = response.data.data[0]
              // here you will get the gateway
            }
          name: NodeJS
        - language: ruby
          code: "require 'openssl'\nrequire 'base64'\nrequire 'net/http'\n\n# Define\
            \ the instance name and API secret\ninstance_name = \"INSTANCE_NAME\"\n\
            instance_api_secret = \"INSTANCE_API_SECRET\"\n\n# Construct the query\
            \ string\nparams = {\n  amount: 8925,\n  vatRate: 7.7,\n  currency: 'CHF',\n\
            \  sku: 'P01122000',\n  'pm[0]' => 'visa',\n  preAuthorization: 0,\n \
            \ reservation: 0,\n  referenceId: 975382,\n  fields: {\n    'forename'\
            \ => { 'value' => 'Max' },\n    'surname' => { 'value' => 'Mustermann'\
            \ },\n    'email' => { 'value' => 'max.mustermann@mysite.com' }\n  },\n\
            \  successRedirectUrl: 'https://www.merchant-website.com/success',\n \
            \ failedRedirectUrl: 'https://www.merchant-website.com/failed',\n\tlanguage:\
            \ 'DE'\n}\n\n# Recursively flatten the nested hash\ndef flatten_hash(hash,\
            \ parent_key = nil, result = {})\n  hash.each do |key, value|\n    current_key\
            \ = parent_key ? \"#{parent_key}[#{key}]\" : key.to_s\n    if value.is_a?(Hash)\n\
            \      flatten_hash(value, current_key, result)\n    else\n      result[current_key]\
            \ = value\n    end\n  end\n  result\nend\n\n# # Flatten the nested hash\
            \ in params\nflattened_params = flatten_hash(params)\n\n# Convert the\
            \ flattened_params hash into a sorted query string\nquery_string = URI.encode_www_form(flattened_params)\n\
            \n# Calculate the API signature\ndigest = OpenSSL::Digest.new('sha256')\n\
            hmac = OpenSSL::HMAC.digest(digest, instance_api_secret, query_string)\n\
            api_signature = Base64.encode64(hmac).chomp\n\n# Make the POST request\n\
            url = URI.parse(\"https://api.payrexx.com/v1.0/Gateway/\")\nurl.query\
            \ = URI.encode_www_form({ instance: instance_name })\n\nhttp = Net::HTTP.new(url.host,\
            \ url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(url.request_uri)\n\
            \nflattened_params['ApiSignature'] = api_signature\nrequest.body = URI.encode_www_form(flattened_params)\n\
            \nresponse = http.request(request)\n\nputs response.body"
        samples-languages:
        - curl
        - kotlin
        - python
        - node
        - ruby
  /Gateway/{id}/:
    delete:
      description: "Removes a gateway that has not been used yet. Not present in Payrexx's\
        \ published API reference; declared here after payrexx-php, whose `delete`\
        \ verb issues DELETE against this URL (see examples/GatewayDelete.php)."
      operationId: GatewayDelete
      parameters:
      - description: The gateway id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GatewayCreate_200_response"
          description: OK
      summary: Delete a Gateway
      tags:
      - Gateway
    get:
      deprecated: false
      description: ""
      operationId: GatewayRetrieve
      parameters:
      - description: ID of gateway payment to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: 0
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Raw:
                  value:
                    status: success
                    data:
                    - id: 1
                      status: (waiting|confirmed|authorized|reserved)
                      hash: db8c618c87dc91f100292f6ffd9c5044
                      referenceId: "975382"
                      link: https://demo.payrexx.com/de/?payment=db8c618c87dc91f100292f6ffd9c5044
                      invoices: []
                      preAuthorization: 0
                      applicationFee: 0
                      fields:
                        title:
                          active: false
                          mandatory: true
                        forename:
                          active: false
                          mandatory: true
                        surname:
                          active: false
                          mandatory: true
                        company:
                          active: false
                          mandatory: true
                        street:
                          active: false
                          mandatory: true
                        postcode:
                          active: false
                          mandatory: true
                        place:
                          active: false
                          mandatory: true
                        country:
                          active: false
                          mandatory: true
                        phone:
                          active: false
                          mandatory: true
                        email:
                          active: false
                          mandatory: true
                        date_of_birth:
                          active: false
                          mandatory: true
                          names:
                            de: ""
                            en: ""
                            fr: ""
                            it: ""
                        text:
                          active: false
                          mandatory: true
                          names:
                            de: Benutzerdefiniertes Feld (DE)
                            en: Benutzerdefiniertes Feld (EN)
                            fr: Benutzerdefiniertes Feld (FR)
                            it: Benutzerdefiniertes Feld (IT)
                      psp: []
                      pm: []
                      amount: 8925
                      vatRate: 7.7
                      currency: CHF
                      sku: P01122000
                      createdAt: 1475578052
              schema:
                $ref: "#/components/schemas/GatewayCreate_200_response"
          description: "200"
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  summary: Not Found
                  value:
                    status: error
                    message: "An error occurred: No {resource} found with id {id}"
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Retrieve a Gateway
      tags:
      - Gateway
      x-readme:
        code-samples:
        - language: curl
          code: |-
            apiSignature=`echo -n "" | openssl dgst -sha256 -hmac "INSTANCE_API_SECRET" -binary | openssl enc -base64`
            curl --request GET "https://api.payrexx.com/v1.0/Gateway/1/?instance=INSTANCE_NAME" --data-urlencode "ApiSignature=$apiSignature"
        - language: php
          code: |-
            <?php

            // $instanceName is a part of the url where you access your payrexx installation.
            // https://{$instanceName}.payrexx.com
            $instanceName = 'YOUR_INSTANCE_NAME';

            // $secret is the payrexx secret for the communication between the applications
            // if you think someone got your secret, just regenerate it in the payrexx administration
            $secret = 'YOUR_SECRET';

            $payrexx = new \Payrexx\Payrexx($instanceName, $secret);

            $gateway = new \Payrexx\Models\Request\Gateway();
            $gateway->setId(1);

            try {
                $response = $payrexx->getOne($gateway);
                var_dump($response);
            } catch (\Payrexx\PayrexxException $e) {
                print $e->getMessage();
            }
        - language: python
          code: |-
            import urllib.request
            import hmac
            import hashlib
            import base64
            import json

            post_data = {}

            data = urllib.parse.urlencode(post_data).encode('UTF-8')

            dig = hmac.new(b'INSTANCE_API_SECRET', msg=data, digestmod=hashlib.sha256).digest()
            post_data['ApiSignature'] = base64.b64encode(dig).decode()
            post_data['instance'] = 'INSTANCE_NAME'

            data = urllib.parse.urlencode(post_data, quote_via=urllib.parse.quote).encode('UTF-8')

            result = urllib.request.urlopen('https://api.payrexx.com/v1.0/Gateway/1/?' + data)
            content = result.read().decode('UTF-8')
            response = json.loads(content)
            gateway = response['data'][0]
            print(gateway)
        - language: node
          code: |-
            // payrexx.js module content:
            const qs = require('qs')
            const axios = require('axios')
            const Base64 = require('crypto-js/enc-base64')
            const hmacSHA256 = require('crypto-js/hmac-sha256')

            const baseUrl = 'https://api.payrexx.com/v1.0/'

            exports.init = function (instance, secret) {

              function buildSignature (data) {
                let queryStr = '';
                if (data) {
                  queryStr = qs.stringify(data, {format: 'RFC1738'});
                  queryStr = queryStr.replace(/[!'()*~]/g, (c) => `%${c.charCodeAt(0).toString(16).toUpperCase()}`);
                }
                return Base64.stringify(hmacSHA256(queryStr, secret));
              }

              function buildBaseUrl (path) {
                return baseUrl + path + '?instance=' + instance
              }

              return {
                getGateway: function (id) {
                  const baseUrl = buildBaseUrl('Gateway/' + id + '/')
                  const url = baseUrl + '&ApiSignature=' + buildSignature()
                  return axios.get(url)
                },
                createGateway: function (params) {
                  if (!params.amount) {
                    throw new Error('Amount required!')
                  }

                  const defaultParams = {
                    currency: 'CHF'
                  }

                  let queryParams = Object.assign({}, defaultParams, params)

                  const signature = buildSignature(queryParams)

                  queryParams.ApiSignature = signature
                  const queryStrSigned = qs.stringify(queryParams)

                  const baseUrl = buildBaseUrl('Gateway/')
                  return axios.post(baseUrl, queryStrSigned)
                }
              }
            }

            // where you want to consume the payrexx module:
            const payrexx = payrexx.init(instance, api_secret)
            const response = await payrexx.getGateway(1)

            if (response.status === 200) {
              const gateway = response.data.data[0]
              // here you will get the gateway
            }
          name: NodeJS
        samples-languages:
        - curl
        - php
        - python
        - node
  /Invoice/:
    post:
      deprecated: false
      description: ""
      operationId: InvoiceCreatePaylink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceCreatePaylink_request"
      responses:
        "200":
          content:
            application/json:
              examples:
                Raw:
                  value: "{\n    \"status\": \"success\",\n    \"data\": [\n     \
                    \   {\n            \"id\": 1,\n            \"hash\": \"382c85eab7a86278e3c3b06a23af2358\"\
                    ,\n            \"referenceId\": \"Order number of my online shop\
                    \ application\",\n            \"link\": \"https://demo.payrexx.com/?payment=382c85eab7a86278e3c3b06a23af2358\"\
                    ,\n            \"invoices\": [],\n            \"preAuthorization\"\
                    : 0,\n            \"reservation\": 0,\n            \"name\": \"\
                    Online-Shop payment #001\",\n            \"api\": true,\n    \
                    \        \"fields\": {\n                \"title\": {\n       \
                    \             \"active\": true,\n                    \"mandatory\"\
                    : true\n                },\n                \"forename\": {\n\
                    \                    \"active\": true,\n                    \"\
                    mandatory\": true\n                },\n                \"surname\"\
                    : {\n                    \"active\": true,\n                 \
                    \   \"mandatory\": true\n                },\n                \"\
                    company\": {\n                    \"active\": true,\n        \
                    \            \"mandatory\": true\n                },\n       \
                    \         \"street\": {\n                    \"active\": false,\n\
                    \                    \"mandatory\": false\n                },\n\
                    \                \"postcode\": {\n                    \"active\"\
                    : false,\n                    \"mandatory\": false\n         \
                    \       },\n                \"place\": {\n                   \
                    \ \"active\": false,\n                    \"mandatory\": false\n\
                    \                },\n                \"country\": {\n        \
                    \            \"active\": true,\n                    \"mandatory\"\
                    : true\n                },\n                \"phone\": {\n   \
                    \                 \"active\": false,\n                    \"mandatory\"\
                    : false\n                },\n                \"email\": {\n  \
                    \                  \"active\": true,\n                    \"mandatory\"\
                    : true\n                },\n                \"date_of_birth\"\
                    : {\n                    \"active\": false,\n                \
                    \    \"mandatory\": false\n                },\n              \t\
                    \"terms\": {\n                    \"active\": true,\n        \
                    \            \"mandatory\": true\n                },\n       \
                    \       \t\"privacy_policy\": {\n                    \"active\"\
                    : true,\n                    \"mandatory\": true\n           \
                    \     },\n                \"custom_field_1\": {\n            \
                    \        \"active\": true,\n                    \"mandatory\"\
                    : true,\n                    \"names\": {\n                  \
                    \      \"de\": \"This is a field\",\n                        \"\
                    en\": \"This is a field\",\n                        \"fr\": \"\
                    This is a field\",\n                        \"it\": \"This is\
                    \ a field\"\n                    }\n                },\n     \
                    \           \"custom_field_2\": {\n                    \"active\"\
                    : false,\n                    \"mandatory\": false,\n        \
                    \            \"names\": {\n                        \"de\": \"\"\
                    ,\n                        \"en\": \"\",\n                   \
                    \     \"fr\": \"\",\n                        \"it\": \"\"\n  \
                    \                  }\n                },\n                \"custom_field_3\"\
                    : {\n                    \"active\": false,\n                \
                    \    \"mandatory\": false,\n                    \"names\": {\n\
                    \                        \"de\": \"\",\n                     \
                    \   \"en\": \"\",\n                        \"fr\": \"\",\n   \
                    \                     \"it\": \"\"\n                    }\n  \
                    \              }\n            },\n            \"psp\": 1,\n  \
                    \          \"pm\": [],\n            \"purpose\": \"Shop Order\
                    \ #001\",\n            \"amount\": 590,\n            \"vatRate\"\
                    \ : 7.7,\n            \"currency\": \"CHF\",\n            \"sku\"\
                    : \"P01122000\",\n            \"subscriptionState\": false,\n\
                    \            \"subscriptionInterval\": \"\",\n            \"subscriptionPeriod\"\
                    : \"\",\n            \"subscriptionPeriodMinAmount\": \"\",\n\
                    \            \"subscriptionCancellationInterval\": \"\",\n   \
                    \         \"createdAt\": 1418392958\n        }\n    ]\n}"
              schema:
                $ref: "#/components/schemas/InvoiceCreatePaylink_200_response"
            text/plain:
              examples:
                PHP Object:
                  value: "Payrexx\\Models\\Response\\Invoice::__set_state(array(\n\
                    \   'hash' => '382c85eab7a86278e3c3b06a23af2358',\n   'link' =>\
                    \ 'https://demo.payrexx.com/?payment=382c85eab7a86278e3c3b06a23af2358',\n\
                    \   'status' => 'waiting',\n   'createdAt' => 1418392958,\n  \
                    \ 'referenceId' => 'Order number of my online shop application',\n\
                    \   'title' => '',\n   'description' => '',\n   'psp' => 1,\n\
                    \   'name' => 'Online-Shop payment #001',\n   'purpose' => 'Shop\
                    \ Order #001',\n   'amount' => 590,\n   'vatRate' => 7.7,\n  \
                    \ 'currency' => 'CHF',\n   'sku' => 'P01122000',\n   'preAuthorization'\
                    \ => 0,\n   'reservation' => 0,\n   'successRedirectUrl' => NULL,\n\
                    \   'failedRedirectUrl' => NULL,\n   'subscriptionState' => false,\n\
                    \   'subscriptionInterval' => '',\n   'subscriptionPeriod' =>\
                    \ '',\n   'subscriptionPeriodMinAmount' => '',\n   'subscriptionCancellationInterval'\
                    \ => '',\n   'fields' => \n  array (\n    'title' => \n    array\
                    \ (\n      'active' => true,\n      'mandatory' => true,\n   \
                    \ ),\n    'forename' => \n    array (\n      'active' => true,\n\
                    \      'mandatory' => true,\n    ),\n    'surname' => \n    array\
                    \ (\n      'active' => true,\n      'mandatory' => true,\n   \
                    \ ),\n    'company' => \n    array (\n      'active' => true,\n\
                    \      'mandatory' => true,\n    ),\n    'street' => \n    array\
                    \ (\n      'active' => false,\n      'mandatory' => false,\n \
                    \   ),\n    'postcode' => \n    array (\n      'active' => false,\n\
                    \      'mandatory' => false,\n    ),\n    'place' => \n    array\
                    \ (\n      'active' => false,\n      'mandatory' => false,\n \
                    \   ),\n    'country' => \n    array (\n      'active' => true,\n\
                    \      'mandatory' => true,\n    ),\n    'phone' => \n    array\
                    \ (\n      'active' => false,\n      'mandatory' => false,\n \
                    \   ),\n    'email' => \n    array (\n      'active' => true,\n\
                    \      'mandatory' => true,\n    ),\n    'date_of_birth' => \n\
                    \    array (\n      'active' => false,\n      'mandatory' => false,\n\
                    \    ),\n    'terms' => \n    array (\n      'active' => true,\n\
                    \      'mandatory' => true,\n    ),\n\t\t\"privacy_policy\" =>\n\
                    \t\tarray (\n\t\t\t\"active\": true,\n\t\t\t\"mandatory\": true\n\
                    \t\t),\n    'custom_field_1' => \n    array (\n      'active'\
                    \ => true,\n      'mandatory' => true,\n      'names' => \n  \
                    \    array (\n        'de' => 'This is a field',\n        'en'\
                    \ => 'This is a field',\n        'fr' => 'This is a field',\n\
                    \        'it' => 'This is a field',\n      ),\n    ),\n    'custom_field_2'\
                    \ => \n    array (\n      'active' => false,\n      'mandatory'\
                    \ => false,\n      'names' => \n      array (\n        'de' =>\
                    \ '',\n        'en' => '',\n        'fr' => '',\n        'it'\
                    \ => '',\n      ),\n    ),\n    'custom_field_3' => \n    array\
                    \ (\n      'active' => false,\n      'mandatory' => false,\n \
                    \     'names' => \n      array (\n        'de' => '',\n      \
                    \  'en' => '',\n        'fr' => '',\n        'it' => '',\n   \
                    \   ),\n    ),\n    'custom_field_4' => \n    array (\n      'active'\
                    \ => false,\n      'mandatory' => false,\n      'names' => \n\
                    \      array (\n        'de' => '',\n        'en' => '',\n   \
                    \     'fr' => '',\n        'it' => '',\n      ),\n    ),\n   \
                    \ 'custom_field_5' => \n    array (\n      'active' => false,\n\
                    \      'mandatory' => false,\n      'names' => \n      array (\n\
                    \        'de' => '',\n        'en' => '',\n        'fr' => '',\n\
                    \        'it' => '',\n      ),\n    ),\n  ),\n   'id' => 8,\n\
                    ))"
                Python JSON Dict:
                  value: "{  \n   'amount':200,\n   'vatRate':7.7,\n   'api':True,\n\
                    \   'createdAt':1481923840,\n   'currency':'CHF',\n   'sku':'P01122000',\n\
                    \   'description':'test',\n   'fields':{  \n      'header':{ \
                    \ \n         'active':True,\n         'mandatory':False,\n   \
                    \      'names':{  \n            'de':'Kontaktdaten',\n       \
                    \     'en':'Contact details',\n            'fr':'Données de contact',\n\
                    \            'it':'Dati di contatto',\n            'nl':''\n \
                    \        }\n      }\n   },\n   'hash':'382c85eab7a86278e3c3b06a23af2358',\n\
                    \   'id':8,\n   'invoices':[  \n\n   ],\n   'preAuthorization':0,\n\
                    \   'reservation':0,\n   'link':'https://demo.payrexx.com/?payment=382c85eab7a86278e3c3b06a23af2358',\n\
                    \   'name':'',\n   'psp':1,\n   'purpose':{  \n      '1':'test',\n\
                    \      '2':'test',\n      '3':'test',\n      '4':'test',\n   \
                    \   '7':'test'\n   },\n   'referenceId':'test',\n   'status':'waiting',\n\
                    \   'subscriptionCancellationInterval':'',\n   'subscriptionInterval':'',\n\
                    \   'subscriptionPeriod':'',\n   'subscriptionPeriodMinAmount':'',\n\
                    \   'subscriptionState':False,\n   'title':'test'\n}"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  summary: Bad Request
                  value:
                    status: error
                    message: An error message that specifies the exact error
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad Request
      summary: Create a Paylink
      tags:
      - Invoice
      x-readme:
        code-samples:
        - language: curl
          code: "apiSignature=`echo -n \"amount=8925&vatRate=7.7&currency=CHF&sku=P01122000&pm%5B0%5D=visa&preAuthorization=0&reservation=0&referenceId=975382&title=Test&description=Testdescription&purpose=This+is+a+test&fields%5Bforename%5D%5Bmandatory%5D=1&fields%5Bforename%5D%5BdefaultValue%5D=Max&fields%5Bsurname%5D%5Bmandatory%5D=0&fields%5Bsurname%5D%5BdefaultValue%5D=Muster\"\
            \ | openssl dgst -sha256 -hmac \"INSTANCE_API_SECRET\" -binary | openssl\
            \ enc -base64`\n\ncurl --request POST \"https://api.payrexx.com/v1.0/Invoice/?instance=INSTANCE_NAME\"\
            \ \\\n  --data-urlencode \"amount=8925\" \\\n  --data-urlencode \"vatRate=7.7\"\
            \ \\\n  --data-urlencode \"currency=CHF\" \\\n  --data-urlencode \"sku=P01122000\"\
            \ \\\n  --data-urlencode \"pm[0]=visa\" \\\n  --data-urlencode \"preAuthorization=0\"\
            \ \\\n  --data-urlencode \"reservation=0\" \\\n  --data-urlencode \"referenceId=975382\"\
            \ \\\n  --data-urlencode \"title=Test\" \\\n  --data-urlencode \"description=Testdescription\"\
            \ \\\n  --data-urlencode \"purpose=This is a test\" \\\n  --data-urlencode\
            \ \"fields[forename][mandatory]=1\" \\\n  --data-urlencode \"fields[forename][defaultValue]=Max\"\
            \ \\\n  --data-urlencode \"fields[surname][mandatory]=0\" \\\n  --data-urlencode\
            \ \"fields[surname][defaultValue]=Muster\" \\\n  --data-urlencode \"ApiSignature=$apiSignature\"\
            \ "
        - language: php
          code: |-
            <?php
            // $instanceName is a part of the url where you access your payrexx installation.
            // https://{$instanceName}.payrexx.com
            $instanceName = 'INSTANCE_NAME';

            // $secret is the payrexx secret for the communication between the applications
            // if you think someone got your secret, just regenerate it in the payrexx administration
            $secret = 'INSTANCE_API_SECRET';

            $payrexx = new \Payrexx\Payrexx($instanceName, $secret);

            // init empty request object
            $invoice = new \Payrexx\Models\Request\Invoice();

            // info for payment link (reference id)
            $invoice->setReferenceId('Order number of my online shop application');

            // info for payment page (title, description)
            $invoice->setTitle('Online shop payment');
            $invoice->setDescription('Thanks for using Payrexx to pay your order');

            // administrative information, which provider to use (psp)
            $invoice->setPsp(1);

            // internal data only displayed to administrator
            $invoice->setName('Online-Shop payment #001');

            // payment information
            $invoice->setPurpose('Shop Order #001');
            $amount = 5.90;
            // don't forget to multiply by 100
            $invoice->setAmount($amount * 100);

            // ISO code of currency
            $invoice->setCurrency('CHF');

            // VAT rate percentage (nullable)
            $vatRate = 7.70;
            $invoice->setVatRate($vatRate);

            //Product SKU
            $invoice->setSku('P01122000');

            // whether charge payment manually at a later date (type authorization)
            $invoice->setPreAuthorization(false);

            // whether charge payment manually at a later date (type reservation)
            $invoice->setReservation(false);

            // subscription information if you want the customer to authorize a recurring payment
            // NOTE: This functionality is currently only available by using PAYMILL as a payment service provider. This also does not work in combination with pre-authorization payments.
            //$invoice->setSubscriptionState(true);
            //$invoice->setSubscriptionInterval('P1M');
            //$invoice->setSubscriptionPeriod('P1Y');
            //$invoice->setSubscriptionCancellationInterval('P3M');

            // add contact information fields which should be filled by customer
            // it would be great to provide at least an email address field
            $invoice->addField($type = 'email', $mandatory = true, $defaultValue = 'my-customer@example.com');
            $invoice->addField($type = 'company', $mandatory = true, $defaultValue = 'Ueli Kramer Firma');
            $invoice->addField($type = 'forename', $mandatory = true, $defaultValue = 'Ueli');
            $invoice->addField($type = 'surname', $mandatory = true, $defaultValue = 'Kramer');
            $invoice->addField($type = 'country', $mandatory = true, $defaultValue = 'AT');
            $invoice->addField($type = 'title', $mandatory = true, $defaultValue = 'miss');
            $invoice->addField($type = 'terms', $mandatory = true);
            $gateway->addField($type = 'privacy_policy', $mandatory = true);
            $invoice->addField($type = 'custom_field_1', $mandatory = true, $defaultValue = 'Value 001', $name = 'Das ist ein Feld');

            // fire request with created and filled link request-object.
            try {
                $response = $payrexx->create($invoice);
                var_dump($response);
            } catch (\Payrexx\PayrexxException $e) {
                print $e->getMessage();
            }
        - language: python
          code: |-
            import urllib.request
            import hmac
            import hashlib
            import base64
            import json

            post_data = {
                "title": "test",
                "description": "test",
                "psp": 1,
                "referenceId": "test",
                "purpose": "test",
                "amount": 200,
                "vatRate" : 7.7,
                "currency": "CHF",
                "sku": "P01122000",
                "preAuthorization": 0,
                "reservation": 0,
            }

            data = urllib.parse.urlencode(post_data).encode('UTF-8')

            dig = hmac.new(b'INSTANCE_API_SECRET', msg=data, digestmod=hashlib.sha256).digest()
            post_data['ApiSignature'] = base64.b64encode(dig).decode()

            data = urllib.parse.urlencode(post_data, quote_via=urllib.parse.quote).encode('UTF-8')

            result = urllib.request.urlopen('https://api.payrexx.com/v1.0/Invoice/?instance=INSTANCE_NAME', data)
            content = result.read().decode('UTF-8')
            response = json.loads(content)
            invoice = response['data'][0]
            print(invoice)
        samples-languages:
        - curl
        - php
        - python
  /PaymentProvider/:
    get:
      deprecated: false
      description: ""
      operationId: PaymentProviderList
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "status": "success",
                      "data": [
                        {
                          "id": 12,
                          "name": "PostFinance Alias Gateway",
                          "availableBalance": null,
                          "paymentMethods": [
                            "masterpass",
                            "mastercard",
                            "visa",
                            "american_express",
                            "diners_club",
                            "jcb",
                            "discover",
                            "postfinance_card",
                            "postfinance_efinance"
                          ],
                          "activePaymentMethods": [
                            "postfinance_card",
                            "postfinance_efinance"
                          ]
                        },
                        {
                          "id": 15,
                          "name": "Rechnung",
                          "paymentMethods": [
                            "invoice"
                          ],
                          "activePaymentMethods": [
                            "invoice"
                          ]
                        },
                        {
                          "id": 26,
                          "name": "Payrexx Payments",
                          "availableBalance": [
                            {
                              "currency": "CHF",
                              "amount": "120.77"
                            },
                            {
                              "currency": "EUR",
                              "amount": "2,570.90"
                            }
                          ],
                          "paymentMethods": {
                            "0": "mastercard",
                            "1": "visa",
                            "2": "american_express",
                            "3": "apple_pay",
                            "4": "diners_club",
                            "5": "jcb",
                            "6": "discover",
                            "11": "sepa",
                            "12": "bancontact",
                            "13": "giropay",
                            "14": "ideal",
                            "15": "sofortueberweisung_de",
                            "16": "alipay"
                          },
                          "activePaymentMethods": [
                            "mastercard",
                            "visa"
                          ]
                        }
                      ]
                    }
              schema:
                $ref: "#/components/schemas/PaymentProviderList_200_response"
          description: "200"
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  summary: Not Found
                  value:
                    status: error
                    message: "An error occurred: No {resource} found with id {id}"
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Retrieve all Payment Providers
      tags:
      - PaymentProvider
      x-readme:
        code-samples:
        - language: curl
          code: |-
            apiSignature=`echo -n "" | openssl dgst -sha256 -hmac "INSTANCE_API_SECRET" -binary | openssl enc -base64`
            curl --request GET "https://api.payrexx.com/v1.0/PaymentProvider/?instance=INSTANCE_NAME" --data-urlencode "ApiSignature=$apiSignature"
        - language: php
          code: |-
            <?php
            // $instanceName is a part of the url where you access your payrexx installation.
            // https://{$instanceName}.payrexx.com
            $instanceName = 'YOUR_INSTANCE_NAME';

            // $secret is the payrexx secret for the communication between the applications
            // if you think someone got your secret, just regenerate it in the payrexx administration
            $secret = 'YOUR_SECRET';

            $payrexx = new \Payrexx\Payrexx($instanceName, $secret);

            $paymentProvider = new \Payrexx\Models\Request\PaymentProvider();

            try {
                $response = $payrexx->getAll($paymentProvider);
                var_dump($response);
            } catch (\Payrexx\PayrexxException $e) {
                print $e->getMessage();
            }
        - language: python
          code: |-
            import urllib.request
            import hmac
            import hashlib
            import base64
            import json

            post_data = {}

            data = urllib.parse.urlencode(post_data).encode('UTF-8')

            dig = hmac.new(b'INSTANCE_API_SECRET', msg=data, digestmod=hashlib.sha256).digest()
            post_data['ApiSignature'] = base64.b64encode(dig).decode()
            post_data['instance'] = 'INSTANCE_NAME'

            data = urllib.parse.urlencode(post_data)

            result = urllib.request.urlopen('https://api.payrexx.com/v1.0/PaymentProvider/?' + data)
            content = result.read().decode('UTF-8')
            response = json.loads(content)
            transaction = response['data'][0]
            print(transaction)
        samples-languages:
        - curl
        - php
        - python
  /Payout/:
    get:
      deprecated: false
      description: ""
      operationId: PayoutList
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayoutList_request"
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status": "success",
                        "data": [
                            {
                                "uuid": "C3F99526",
                                "mode": "TEST",
                                "object": "payout",
                                "amount": 1200,
                                "total_fees": 0,
                                "currency": "CHF",
                                "date": "2023-01-04",
                                "statement": "Payrexx",
                                "status": "pending",
                                "destination": {
                                    "type": "bank_account",
                                    "iban": "CH93 0076 2011 6238 5295 7",
                                    "account_holder": "Demo Firma"
                                },
                                "transfers": [],
                                "merchant": {
                                    "name": "demo",
                                    "site_title": "Payrexx",
                                    "owner": {
                                        "company": "Demo Firma",
                                        "first_name": "Vorname",
                                        "last_name": "Nachname",
                                        "address": "strasse 1324 1234",
                                        "zip": "1234",
                                        "place": "ort",
                                        "email": "info@payrexx.com"
                                    }
                                }
                            },
                            {
                                "uuid": "C6B438B9",
                                "mode": "LIVE",
                                "object": "payout",
                                "amount": 1000,
                                "total_fees": 0,
                                "currency": "CHF",
                                "date": "2023-01-06",
                                "statement": "",
                                "status": "pending",
                                "destination": {
                                    "type": null,
                                    "iban": null,
                                    "account_holder": null
                                },
                                "transfers": [],
                                "merchant": {
                                    "name": "demo",
                                    "site_title": "Payrexx",
                                    "owner": {
                                        "company": "Demo Firma",
                                        "first_name": "Vorname",
                                        "last_name": "Nachname",
                                        "address": "strasse 1324 1234",
                                        "zip": "1234",
                                        "place": "ort",
                                        "email": "info@payrexx.com"
                                    }
                                }
                            }
                        ]
                    }
              schema:
                $ref: "#/components/schemas/PayoutList_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  summary: Bad Request
                  value:
                    status: error
                    message: "An error occurred: No {resource} found with id {id}"
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad Request
      summary: Retrieve Payouts
      tags:
      - Payout
      x-readme:
        code-samples:
        - language: curl
          code: |-
            apiSignature=`echo -n "" | openssl dgst -sha256 -hmac "INSTANCE_API_SECRET" -binary | openssl enc -base64`
            curl --request GET "https://api.payrexx.com/v1.0/Payout/?instance=INSTANCE_NAME" --data-urlencode "ApiSignature=$apiSignature"
        samples-languages:
        - curl
  /Payout/{uuid}/:
    get:
      deprecated: false
      description: ""
      operationId: PayoutRetrieve
      parameters:
      - description: Payout UUID
        explode: false
        in: path
        name: uuid
        required: true
        schema:
          default: "8"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status": "success",
                        "data": {
                            "uuid": "C6B438B9",
                            "mode": "LIVE",
                            "object": "payout",
                            "amount": 1000,
                            "total_fees": 0,
                            "currency": "CHF",
                            "date": "2023-01-06",
                            "statement": "",
                            "status": "pending",
                            "destination": {
                                "type": null,
                                "iban": null,
                                "account_holder": null
                            },
                            "transfers": [],
                            "merchant": {
                                "name": "demo",
                                "site_title": "Payrexx",
                                "owner": {
                                    "company": "Demo Firma",
                                    "first_name": "Vorname",
                                    "last_name": "Nachname",
                                    "address": "strasse 1324 1234",
                                    "zip": "1234",
                                    "place": "ort",
                                    "email": "info@payrexx.com"
                                }
                            }
                        }
                    }
              schema:
                $ref: "#/components/schemas/PayoutRetrieve_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  summary: Bad Request
                  value:
                    status: error
                    message: "An error occurred: No {resource} found with id {id}"
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad Request
      summary: Retrieve a Payout Without Details
      tags:
      - Payout
      x-readme:
        code-samples:
        - language: curl
          code: |-
            apiSignature=`echo -n "" | openssl dgst -sha256 -hmac "INSTANCE_API_SECRET" -binary | openssl enc -base64`
            curl --request GET "https://api.payrexx.com/v1.0/Payout/C3F99526?instance=INSTANCE_NAME" --data-urlencode "ApiSignature=$apiSignature"
        samples-languages:
        - curl
  /Payout/{uuid}/details:
    get:
      deprecated: false
      description: ""
      operationId: PayoutRetrieveWithDetails
      parameters:
      - description: Payout UUID
        explode: false
        in: path
        name: uuid
        required: true
        schema:
          default: "8"
          type: string
        style: simple
      - description: Offset when using limit.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: "Limits the number of details to retrieve, recommended size is\
          \ 100 elements."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status": "success",
                        "data": {
                            "uuid": "C6B438B9",
                            "mode": "LIVE",
                            "object": "payout",
                            "amount": 1000,
                            "total_fees": 0,
                            "currency": "CHF",
                            "date": "2023-01-06",
                            "statement": "",
                            "status": "pending",
                            "destination": {
                                "type": null,
                                "iban": null,
                                "account_holder": null
                            },
                            "transfers": [],
                            "merchant": {
                                "name": "demo",
                                "site_title": "Payrexx",
                                "owner": {
                                    "company": "Demo Firma",
                                    "first_name": "Vorname",
                                    "last_name": "Nachname",
                                    "address": "strasse 1324 1234",
                                    "zip": "1234",
                                    "place": "ort",
                                    "email": "info@payrexx.com"
                                }
                            }
                        }
                    }
              schema:
                $ref: "#/components/schemas/PayoutRetrieve_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  summary: Bad Request
                  value:
                    status: error
                    message: "An error occurred: No {resource} found with id {id}"
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Retrieve a Payout With Details
      tags:
      - Payout
      x-readme:
        code-samples:
        - language: curl
          code: |-
            apiSignature=`echo -n "" | openssl dgst -sha256 -hmac "INSTANCE_API_SECRET" -binary | openssl enc -base64`
            curl --request GET "https://api.payrexx.com/v1.0/Payout/C3F99526/details?instance=INSTANCE_NAME" --data-urlencode "ApiSignature=$apiSignature"
        samples-languages:
        - curl
  /Subscription/:
    get:
      description: ""
      operationId: SubscriptionList
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubscriptionList_request"
      responses:
        "200":
          content:
            application/json:
              examples:
                OK:
                  summary: OK
                  value:
                    status: success
                    data:
                    - id: 1
                      uuid: a5e0c919
                      status: active
                      start: 2025-12-12
                      end: 2026-12-12
                      valid_until: null
                      paymentInterval: P1M
                      invoice:
                        number: Test
                        products:
                        - name: Test
                          description: ""
                          price: 1000
                          quantity: 1
                          sku: null
                          vatRate: null
                        discount:
                          code: null
                          amount: 0
                          percentage: null
                        shippingAmount: null
                        currency: CHF
                        test: 0
                        referenceId: ""
                        purpose: ""
                        paymentRequestId: null
                        paymentLink: null
                        originalAmount: 1000
                        refundedAmount: 0
                        custom_fields:
                        - type: email
                          name: E-Mail-Adresse
                          value: user@example.com
                      contact:
                        id: 1
                        uuid: 4ab402a9
                        title: ""
                        firstname: ""
                        lastname: ""
                        company: ""
                        street: ""
                        zip: ""
                        place: ""
                        country: Schweiz
                        countryISO: CH
                        phone: ""
                        email: user@example.com
                        date_of_birth: ""
                        delivery_title: ""
                        delivery_firstname: ""
                        delivery_lastname: ""
                        delivery_company: ""
                        delivery_street: ""
                        delivery_zip: ""
                        delivery_place: ""
                        delivery_country: Schweiz
                        delivery_countryISO: CH
                    - id: 2
                      uuid: 83031e4b
                      status: active
                      start: 2025-12-16
                      end: null
                      valid_until: 2026-12-18
                      paymentInterval: P1M
                      invoice:
                        number: Test
                        products:
                        - name: Test
                          description: ""
                          price: 400
                          quantity: 1
                          sku: null
                          vatRate: "8.10"
                        discount:
                          code: null
                          amount: 0
                          percentage: null
                        shippingAmount: null
                        currency: EUR
                        test: 1
                        referenceId: ""
                        purpose: ""
                        paymentRequestId: null
                        paymentLink: null
                        googleAnalyticProducts:
                        - item_id: 268
                          item_name: Test
                          price: 4
                          quantity: 1
                        originalAmount: 400
                        refundedAmount: 0
                        custom_fields:
                        - type: email
                          name: E-Mail
                          value: user2@example.com
                        - type: forename
                          name: Vorname
                          value: Payrexx
                        - type: surname
                          name: Nachname
[...]
